{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" style="margin-top: 20px;" for="CheckYourAnswers">
        Check these details before submitting the treatment form
      </label>
    </h1>

      <dl class="nhsuk-summary-list">
        <h3>Treatment details</h3>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            03/11/2020
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            30/01/2021
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost
        </dt>  
        <dd class="nhsuk-summary-list__value">
          £500.00
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
    </dl>

    <dl class="nhsuk-summary-list">
     <h3>S2/E112 details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state
        </dt>
        <dd class="nhsuk-summary-list__value">
          Spain
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Surname
        </dt>
        <dd class="nhsuk-summary-list__value">
          Cruz
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Forenames
        </dt>
        <dd class="nhsuk-summary-list__value">
          Antonio
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth 
        </dt>
        <dd class="nhsuk-summary-list__value">
          10/11/1986
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Personal identification number
        </dt>
        <dd class="nhsuk-summary-list__value">
          280000000333
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2/E112 issue date
        </dt>
        <dd class="nhsuk-summary-list__value">
          27/10/2020
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2/E112 start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          01/11/2020
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2/E112 end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          30/01/2021
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Institution ID
        </dt>
        <dd class="nhsuk-summary-list__value">
          2800
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Institution name
        </dt>
        <dd class="nhsuk-summary-list__value">
          National Institute of Social Security, Provincial Head Office of Madrid
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Institution address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Plaza de los Astros 5-7<br> 28007 Madrid
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Copy of the S2/E112
        </dt>
        <dd class="nhsuk-summary-list__value">
          S2.jpg
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
    
    </dl>

    <dl class="nhsuk-summary-list">
      <h3>Address details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Home address
        </dt>
        <dd class="nhsuk-summary-list__value">
          3A Calle de las Huertas<br>
          28005 Madrid<br>
          Spain
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

    </dl>

  <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.</p>
  
  <a style="margin-right: 20px;" class="nhsuk-button" href="confirmation-s2">Submit</a>
  <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

  <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
