{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" style="margin-top: 20px;" for="CheckYourAnswers">
        Check these details before submitting the treatment form
      </label>
    </h1>

      <dl class="nhsuk-summary-list">
        <h3>Treatment details</h3>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            01/01/2022
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            02/01/2022
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost
        </dt>
        <dd class="nhsuk-summary-list__value">
          £10,005.00
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost above £10,000
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Reason for the treatment cost being above £10,000
        </dt>
        <dd class="nhsuk-summary-list__value">
          OVM confirmed procedure is high cost
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
    </dl>

    <dl class="nhsuk-summary-list">
     <h3>Ehic details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state (2)
        </dt>
        <dd class="nhsuk-summary-list__value">
          Germany
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name (3)
        </dt>
        <dd class="nhsuk-summary-list__value">
          Richter
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Given names (4)
        </dt>
        <dd class="nhsuk-summary-list__value">
          Jonas
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth (5)
        </dt>
        <dd class="nhsuk-summary-list__value">
          01/01/1980
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Personal identification number (6)
        </dt>
        <dd class="nhsuk-summary-list__value">
          280123450758
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Identification number of the institution (7)
        </dt>
        <dd class="nhsuk-summary-list__value">
          3000 INSP PARIS
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Identification number of the card (8)
        </dt>
        <dd class="nhsuk-summary-list__value">
          90333023000420000040
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Expiry date (9)
        </dt>
        <dd class="nhsuk-summary-list__value">
          31/12/2024
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Copy of the EHIC
        </dt>
        <dd class="nhsuk-summary-list__value">
          ehic.jpg
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Jonas Richter is a student
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="details-ehic#student">
            Change<span class="nhsuk-u-visually-hidden"> Jonas Richter is a student</span>
          </a>
        </dd>
      </div>
    
    </dl>

    <dl class="nhsuk-summary-list">
      <h3>Address details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Home address
        </dt>
        <dd class="nhsuk-summary-list__value">
          1 Avenue Hoche<br>
          3000 Paris<br>
          France
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="address-ehic">
            Change<span class="nhsuk-u-visually-hidden"> home address</span>
          </a>
        </dd>
      </div>

    </dl>

  <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.</p>
  
  <a style="margin-right: 20px;" class="nhsuk-button" href="confirmation-ehic">Submit</a>
  <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

  <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
