{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="CheckYourAnswers">
        Check these details before submitting the treatment form
      </label></h1>

      <dl class="nhsuk-summary-list">
        <h3>Treatment details</h3>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            03/08/2020
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            04/08/2020
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost
        </dt>
        <dd class="nhsuk-summary-list__value">
          £850.66
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
    </dl>

    <dl class="nhsuk-summary-list">
     <h3>Malta quota details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state
        </dt>
        <dd class="nhsuk-summary-list__value">
          Malta
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          camilleri
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Given names
        </dt>
        <dd class="nhsuk-summary-list__value">
          John
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          06/12/1988
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Malta quota number
        </dt>
        <dd class="nhsuk-summary-list__value">
          20/21-001
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="malta-quota-number">
            Change<span class="nhsuk-u-visually-hidden"> malta quota number</span>
          </a>
        </dd>
      </div>

    </dl>

    <dl class="nhsuk-summary-list">
      <h3>Address details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you have John Camilleri's address in Malta?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="have-address-malta">
            Change<span class="nhsuk-u-visually-hidden">home address</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Home address
        </dt>
        <dd class="nhsuk-summary-list__value">
          12 St George's Road<br>
          VLT 118 Placeville<br>
          Malta
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="address-malta-2">
            Change<span class="nhsuk-u-visually-hidden"> home address</span>
          </a>
        </dd>
      </div>

    </dl>

  <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.</p>
  
  <a style="margin-right: 20px;" class="nhsuk-button" href="confirmation-malta">Submit</a>
  <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

  <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
