{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Country
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <span class="nhsuk-caption-l" style="margin-top: 20px;">
        EHIC details
      </span>
      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="country">
          Which country is the patient from?
        </label></h1>
                             <td  class="test-case" style="overflow: visible">
                          <div>
                              <select id="vaccines" class="typeahead js-hidden nhsuk-select" name="vaccines" aria-required="true">
                                  <option value="x">Choose a country</option>
                                  <option value="x">Anguilla</option>
                                  <option value="x">Australia</option>
                                  <option value="x">Bosnia and Herzegovina</option>
                                  <option value="x">British Virgin Islands</option>
                                  <option value="x">Falkland Islands</option>
                                  <option value="x">Faroe Islands</option>
                                  <option value="x">Gibraltar</option>
                                  <option value="x">Isle of Man</option>
                                  <option value="x">Israel</option>
                                  <option value="x">Jersey</option>
                                  <option value="x">Kosovo</option>
                                  <option value="x">Montenegro</option>
                                  <option value="x">Montserrat</option>
                                  <option value="x">New Zealand</option>
                                  <option value="x">North Macedonia</option>
                                  <option value="x">Norway</option>
                                  <option value="x">Serbia</option>
                                  <option value="x">St Helena</option>
                                  <option value="x">Turks and Caicos Islands</option>
                              </select>
                          </div>
                        </td>
    </div>

    <br>

    <a class="nhsuk-button" href="search-ehic">Continue</a>
    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
