{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Country
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <span class="nhsuk-caption-l">
        EHIC details
      </span>
      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="country">
          Which country is the patient's EHIC issued in?
        </label></h1>
        <label class="nhsuk-label" for="name">
          Enter country
        </label>
      <input class="nhsuk-input  nhsuk-input--width-20" id="country" name="country" type="text" value="">
    </div>

    <br>

    <a class="nhsuk-button" href="search-ehic">Continue</a>
    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
