{% extends 'layout-with-login.html' %}
{% block pageTitle %}
confirmation on delete
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="search-person">Search person</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="person-record-view-ehic">View record</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="view-treatment-details">Treatment details</a></li>
      <li class="nhsuk-breadcrumb__list-item">Delete file</li>
    </ol>
    <a class="nhsuk-back-link" href="person-record-view-ehic">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Treatment details
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="delete-confirm" method="post">

      {{ radios({
         "idPrefix": "delete",
         "name": "delete",
         "fieldset": {
           "legend": {
             "text": "Are you sure you want to delete the file named S2file1?",
             "classes": "nhsuk-fieldset__legend--l",
             "isPageHeading": true
           }
         },
         "items": [
           {
             "value": "yes",
             "text": "Yes"
           },
           {
             "value": "no",
             "text": "No"
           }
         ]
       }) }}

      {{ button({
      "text": "Submit"
      }) }}

   </form>


 </div>
</div>
{% endblock %}
