{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Ehic details
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l" style="margin-top: 20px;">
      EHIC details
    </span>
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="ehicDetails">
        Maria Rodríguez's EHIC that covers the treatment dates
      </label></h1>

      <span class="nhsuk-hint">
        Numbers in brackets refer to the areas on the EHIC card.
      </span>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Issuing member state (2)
          </dt>
          <dd class="nhsuk-summary-list__value">
            Spain
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name (3)
          </dt>
          <dd class="nhsuk-summary-list__value">
            Rodríguez
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Given names (4)
          </dt>
          <dd class="nhsuk-summary-list__value">
            Maria
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Date of birth (5)
          </dt>
          <dd class="nhsuk-summary-list__value">
            06/12/1988
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Personal identification number (6)
          </dt>
          <dd class="nhsuk-summary-list__value">
            280000000293
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the institution (7)
          </dt>
          <dd class="nhsuk-summary-list__value">
            2800 - INSS MADRID
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the card (8)
          </dt>
          <dd class="nhsuk-summary-list__value">
            80724028000420000098
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Expiry date (9)
          </dt>
          <dd class="nhsuk-summary-list__value">
            04/08/2020
          </dd>
        </div>
      
      </dl>

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="student" name="student" type="checkbox" value="student">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="student">
          Maria Rodriguez is a student
        </label>
      </div>
    <br>
    <a style="margin-right: 20px;" class="nhsuk-button" href="address-ehic-draft">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>
 </div>

</div>
{% endblock %}
