{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Ehic details
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l" style="margin-top: 20px;">
      EHIC details
    </span>
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="ehicDetails">
        Jonas Richter's EHIC that covers the treatment dates
      </label></h1>

      <span class="nhsuk-hint">
        Numbers in brackets refer to the areas on the EHIC card.
      </span>

    
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Issuing member state (2)
          </dt>
          <dd class="nhsuk-summary-list__value">
            France
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name (3)
          </dt>
          <dd class="nhsuk-summary-list__value">
            Richter
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Given names (4)
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jonas
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Date of birth (5)
          </dt>
          <dd class="nhsuk-summary-list__value">
            01/01/1980
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Personal identification number (6)
          </dt>
          <dd class="nhsuk-summary-list__value">
            280123450758
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the institution (7)
          </dt>
          <dd class="nhsuk-summary-list__value">
            2700 - INSP PARIS
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the card (8)
          </dt>
          <dd class="nhsuk-summary-list__value">
            90333023000420000040
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Expiry date (9)
          </dt>
          <dd class="nhsuk-summary-list__value">
            31/12/2024
          </dd>
        </div>

        </dl>

        <h4>Copy of the EHIC</h4> 
        <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            ehic.jpg
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="#">View file</a>
          </dd>
        </div>
      
      </dl>

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="student" name="student" type="checkbox" value="student">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="student">
          Jonas Richter is a student
        </label>
      </div>
    <br>
    <a style="margin-right: 20px;" class="nhsuk-button" href="address-ehic">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

    <p><a href="home">Cancel</a></p>

 </div>

</div>
{% endblock %}
