{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Ehic details
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      EHIC details
    </span>
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="ehicDetails">
        Douglas Caven's EHIC that covers the treatment dates
      </label></h1>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      
        <p>You must make sure that this is the correct person by checking their Personal Identification Number (PIN). 
          If the PIN is different on the EHIC card create a new person.</p>
      </div>
      
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Issuing member state
          </dt>
          <dd class="nhsuk-summary-list__value">
            Germany
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Caven
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Given names
          </dt>
          <dd class="nhsuk-summary-list__value">
            Douglas
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            01/01/1980
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Personal identification number
          </dt>
          <dd class="nhsuk-summary-list__value">
            123456
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the institution
          </dt>
          <dd class="nhsuk-summary-list__value">
            2700 - MUNCHEN
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Identification number of the card
          </dt>
          <dd class="nhsuk-summary-list__value">
            90333023000420000040
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Expiry date
          </dt>
          <dd class="nhsuk-summary-list__value">
            31/12/2025
          </dd>
        </div>

        </dl>

        <h4>Copy of the EHIC</h4> 
        <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            ehic.jpg
          </dt>
          <dd class="nhsuk-summary-list__value">
            <a href="#">View file</a>
          </dd>
        </div>
      
      </dl>

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="student" name="student" type="checkbox" value="student">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="student">
          Douglas Caven is a student
        </label>
      </div>
    <br>
    <a style="margin-right: 20px;" class="nhsuk-button" href="address-ehic">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

    <p><a href="home">Cancel</a></p>

 </div>

</div>
{% endblock %}
