{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Duplicate entitlement
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="duplicateTreatmentEntry">
        Duplicate entitlement entry
      </label></h1>

    <p>You have entered an entitlement that is already existing.</p>
    <div class="nhsuk-table-responsive">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Entitlements</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Entitlement</th>
            <th class="nhsuk-table__header" scope="col">Identification number of the card</th>
            <th class="nhsuk-table__header" scope="col">Expiry date</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Entered EHIC</td>
            <td class="nhsuk-table__cell ">70945028000420000036</td>
            <td class="nhsuk-table__cell ">10/03/2020</td>
          </tr>
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Existing EHIC</td>
            <td class="nhsuk-table__cell ">70945028000420000036</td>
            <td class="nhsuk-table__cell ">10/03/2020</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
      
    <p>On continue, the treatment details you have entered will be linked to the existing EHIC and the entered EHIC details will not be saved.</p> 
    <a style="margin-right: 20px;" class="nhsuk-button" href="#">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
