{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Enter details PRC
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      PRC details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What are the PRC details?
        </h1>
      </legend>
      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="country">
          Issuing member state (2)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="country" name="country" type="text" value="Spain" disabled>
      </div>
      
      <h4>Card holder related information</h4>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Name (3)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="name" name="name" type="text" value="Rodríguez" disabled>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="givenNames">
          Given names (4)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="givenNames" name="givennames" type="text" value="Maria" disabled>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Date of birth (5)
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 15 03 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*" value="06" disabled>
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*" value="12" disabled>
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*" value="1988" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="personalIdentificationNumber">
          Personal identification number (6)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="personalIdentificationNumber" name="pin" type="text" value="280000000293" disabled>
      </div>
      
      <h4>Card related information</h4>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="identificationNumberOnCard">
          Identification number of the card (optional) (8)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="identificationNumberOnCard" name="idcard" type="text"> 
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="expiryDate">
          Expiry date (optional) (9)
        </label>
        
        <div class="nhsuk-hint" id="hint">
          For example, 15 03 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </div>
      
      <h4>Certificate details</h4>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="validityFrom">
          Validity period from (a)
        </label>
        
        <div class="nhsuk-hint" id="hint">
          For example, 15 03 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </div>  

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="validityTo">
          Validity period to (b)
        </label>  
        
        <div class="nhsuk-hint" id="hint">
          For example, 15 03 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </div>
      
    </fieldset>

    <a style="margin-right: 20px;" class="nhsuk-button" href="institution-prc-aat">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>
    
 </div>

</div>
{% endblock %}
