{% extends 'layout.html' %}
{% block pageTitle %}
Forgot your password
{% endblock %}
{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Forgot your password?
        </h1>
      </legend>
      
      <p>Enter your email address. We will send you a link to reset your password.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="emailAddress">
          Email address
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailaddress" type="text">
      </div>
      
    </fieldset>

    <button class="nhsuk-button" type="submit">
      Send reset link
    </button>

   </div>
</div>
{% endblock %}
