{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Have home address or not
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      Address details
    </span>

      {% call fieldset({
        legend: {
          "text": "Do you have John Camilleri's address in Malta?",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": true
        }
        }) %}
       
      {{ radios({
         "idPrefix": "address",
         "name": "address",
         "items": [
           {
             "value": "yes",
             "text": "Yes"
           },
           {
             "value": "no",
             "text": "No"
           }
         ]
       }) }}

       {% endcall %}

      <a class="nhsuk-button" href="address-malta-2" style="margin-right: 20px;">Continue</a>
      <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
      <p><a href="home">Cancel</a></p>
   </form>


 </div>
</div>
{% endblock %}
