{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Home
{% endblock %}


{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper app-hero__wrapper">
          <h2 class="nhsuk-heading-s" style="margin-bottom: 10px">Lancashire Teaching Hospitals NHS Foundation Trust</h2>
          <h1 class="nhsuk-heading-l">Submit treatment costs for patients from the EU, Switzerland, Norway, Iceland and Liechtenstein</h1>
          <h2 class="nhsuk-body-m nhsuk-u-margin-bottom-3">Add details of an EHIC, PRC, S2/E112 or Malta Quota treatment</h2>
            <button onclick="window.location.href='add-treatment';" class="nhsuk-button nhsuk-button--reverse" href="add-treatment" style="margin-bottom:0" >Add treatment</button>
            <button onclick="window.location.href='search-person';" class="nhsuk-button nhsuk-button--reverse" href="search-person" style="margin-left:25px; margin-bottom:0">Search for person</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}
<section> 
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row nhsuk-card-group">
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="process-draft-treatments">Draft treatments</a><span class="notification-badge" style="background-color: #005eb8">9</span></h2>
              <ul>
                  <li>2 EHIC</li>
                  <li>4 PRC</li>
                  <li>3 S2/E112</li>
              </ul>
          </div>
        </div>
      </div>
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Messages</a><span class="notification-badge" style="background-color: #005eb8">2 new</span></h2>
            <p class="nhsuk-card__description">Send messages and view all your conversations with the overseas visitor team.</p>
          </div>
        </div>
      </div>

    </div>
  
  </div>
</section>



<section> 
  <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row nhsuk-card-group">
              <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                  <div class="nhsuk-card nhsuk-card--clickable">
                      <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">Reports</h2>
                        <p class="nhsuk-card__description">Customise your reports to meet your requirements.</p>
                        <ul>
                            <li><a href="reports-dac">EHIC, PRC, S2/E112</a></li>
                            <li><a href="reports-malta-dac">Malta Quota</a></li>
                        </ul>
                      </div>
                  </div>
              </div>
          
              <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
                  <div class="nhsuk-card nhsuk-card--clickable">
                      <div class="nhsuk-card__content">
                          <h2 class="nhsuk-card__heading nhsuk-heading-m">Useful information</h2>
                          <ul>
                            <li><a href="/downloads/sample-file-1.pdf" target="_blank">User manual</a></li>
                            <li><a href="home-support">Support</a></li>
                          </ul>
                      </div>
                  </div>
              </div> 
        </div>
  </div>
</section>

<section>
  <div class="nhsuk-width-container">
    <h3  class="nhsuk-heading-l" style="margin-bottom:45px">Existing treatments for November 2023</h3>
 
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card">
         <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-l">EHIC</h3>
            <dl>
               <dt style="font-size: larger; margin-top: -5px;">treatments</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCount">10,000</dd>
               <dt style="font-size: larger; margin-top: 34px;">total cost</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCost">£9,999,999.99</dd>
            </dl>
         </div>
      </div>
    </div>
    
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card">
         <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-l">PRC</h3>
            <dl>
               <dt style="font-size: larger; margin-top: -5px;">treatments</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCount">10,000</dd>
               <dt style="font-size: larger; margin-top: 34px;">total cost</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCost">£9,999,999.99</dd>
            </dl>
         </div>
      </div>
    </div>
    
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card">
         <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-heading-l">S2/E112</h3>
            <dl>
               <dt style="font-size: larger; margin-top: -5px;">treatments</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCount">10,000</dd>
               <dt style="font-size: larger; margin-top: 34px;">total cost</dt>
               <dd style="font-size: 28px; margin-left: 0px; margin-top: 20px;" class="nhsuk-card__description data-item-large" id="treatmentTrustSummary.prcTreatmentCost">£9,999,999.99</dd>
            </dl>
         </div>
      </div>
    </div>
    


      <div class="nhsuk-grid-row nhsuk-card-group">

​
      </div>
</section>

{% endblock %}
