{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Support
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--xl" for="CheckYourAnswers">
        About support
      </label></h1>

        <h3>Work hours</h3>
          <p>Work hours for liasion officer are Monday to Friday, 9am to 5pm
          </p>
          <h3>Contact</h3>
          <p>Telephone: 0300 330 7693</p>
          <p>Email: <a href="a@b.c">douglas.caven@nhs.net</a></p>
  </div>
</div>
{% endblock %}
