{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Institution
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l" style="margin-top: 20px;">
      EHIC details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Search for the identification number of the institution (field 7) in Spain
        </h1>
      </legend>

      <span class="nhsuk-hint" style="color:black">
        Enter as it appears on the EHIC, <b>along with spaces and hypens.</b>
      </span>
      
      <div class="nhsuk-form-group">

        <input class="nhsuk-input nhsuk-input--width-20" id="institutionID" name="inscode" type="text">
      </div>

    </fieldset>

    <a style="margin-right: 20px;" class="nhsuk-button" href="institution-no-result-2#result">Search</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>
    
 </div>

</div>
{% endblock %}
