{% extends 'layout-with-login.html' %}
{% block pageTitle %}
What is the Malta Quota number for this patient? - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <span class="nhsuk-caption-l">
        Malta Quota agreement details
      </span>

      <form action="quota-number-check" method="post">

      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="quotaNumber">
          What is this patient's Malta Quota number?
        </label></h1>
        <div class="nhsuk-hint" id="hint-text-quotaNumber">
          The format should be YY/YY-NNN. For example, 20/21-001
        </div>
      <input class="nhsuk-input  nhsuk-input--width-20" id="quotaNumber" name="quotaNumber" type="text" value="{{ data['quotaNumber'] }}" >
    </div>

    <br>

    {{ button({
        "text": "Continue"
        }) }}

    </form>
    
    <p><a href="malta-cancel-confirmation-quota-number">Cancel</a></p>

 </div>
</div>
{% endblock %}
