{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Multiple EHICS found
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-form-group">
      <form>

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              3 EHICS found for Maria Rodríguez that cover the treatment dates
            </h1>
          </legend>

          <span class="nhsuk-hint">
            Select one EHIC that matches the identification number of the card(8).
          </span>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="identoficationNumberOfCard1" name="idcard" type="radio" value="pin1" aria-describedby="hint1">
              <label class="nhsuk-label nhsuk-radios__label" for="identoficationNumberOfCard1">
                Identification number of the card: 80724028000420000098
              </label>
              <span class="nhsuk-hint nhsuk-radios__hint" id="hint2">
                Expiry date: 04/08/2020
              </span>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="identoficationNumberOfCard2" name="idcard" type="radio" value="pin2" aria-describedby="hint2">
              <label class="nhsuk-label nhsuk-radios__label" for="identoficationNumberofCard1">
                Identification number of the card: 90453467000420000034
              </label>
              <span class="nhsuk-hint nhsuk-radios__hint" id="hint2">
                Expiry date: 21/01/2020
              </span>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="identoficationNumberOfCard3" name="idcard" type="radio" value="pin3">
              <label class="nhsuk-label nhsuk-radios__label" for="identoficationNumberOfCard3">
                Identification number of the card: 60666670004200000236
              </label>
              <span class="nhsuk-hint nhsuk-radios__hint" id="hint2">
                Expiry date: 25/12/2019
              </span>
            </div>
      
          </div>
        </fieldset>
      
        <br>
        <button class="nhsuk-button" type="submit">
          Continue
        </button>

        <p><a href="home">Cancel</a></p>
      
      </div>
   </form>

 </div>

 <div class="nhsuk-grid-column-one-third">
  <img src="/images/ehic-sample.png" alt="Ehic sample card" style="width:550px; height:400px; padding-top:150px; padding-left: 50px; padding-right:100px;">
  <span style="margin-left: 50px;">EHIC sample</span> 
</div>

</div>
{% endblock %}
