{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Country
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="newTotal">
          What is the new total cost of this treatment?
        </label></h1>
      <input class="nhsuk-input  nhsuk-input--width-20" id="newTotal" name="newtotal" type="text">
    </div>

    <br>

    <a style="margin-right: 20px;" class="nhsuk-button" href="summary-cost-2">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
