{% extends 'layout-with-login.html' %}
{% block pageTitle %}
What are the patient's details? - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l" style="margin-top: 20px;">
      Malta Quota agreement details
    </span>

    <form action="address-check-malta" method="post">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What are the patient's details?
        </h1>
      </legend>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Issuing member state
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="member-state" name="member-state" type="text" value="Malta" disabled>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Name
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          This is the patient's last name (family name or surname). For example, Smith
        </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="name" name="name" type="text" value="{{ data['name'] }}">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="givenName">
          Given names
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          These are the patient's first names. For example, Phillip John
        </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="givenName" name="givenName" type="text" value="{{ data['givenName'] }}">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 15 12 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-dd">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-dd" name="dob-dd" type="number" pattern="[0-9]*" value="{{ data['dob-dd'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-mm">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-mm" name="dob-mm" type="number" pattern="[0-9]*" value="{{ data['dob-mm'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-yyyy">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-yyyy" name="dob-yyyy" type="number" pattern="[0-9]*" value="{{ data['dob-yyyy'] }}">
            </div>
          </div>
        </div>

      </div>
    </fieldset>

    <button class="nhsuk-button" type="submit">
      Continue
    </button>
    <p><a href="malta-cancel-confirmation-patient-details">Cancel</a></p>
    </form>

 </div>
</div>
{% endblock %}
