{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Reason for treatment cost above £10,000
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      Treatment details
    </span>
    <div class="nhsuk-form-group">
      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="reason">
          What is the reason for the treatment dates being beyond 6 months?
        </label>
      </h1>
      <!--<div class="nhsuk-hint" id="example-hint">
        Do not include personal or financial information, for example, your National Insurance number or credit card details.
      </div> -->
      <textarea class="nhsuk-textarea" id="reason" name="reason" rows="5" aria-describedby="example-hint"></textarea>
    </div>

    <a class="nhsuk-button" href="check-your-answers-ehic-sec1-6mo">Continue</a>
   <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
