{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Reports - Malta Quota treatments - Reporting overseas visitor treatments - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
    <p class="app-phase-banner__content">
      <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
      </strong>
      <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
      </span>
    </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="home-new-font">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item">Reports - Malta Quota</li>
    </ol>
    <a class="nhsuk-back-link" href="home">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Home
    </a>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-caption-l">Reports - Malta Quota treatments</h1>

    <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">
      Download a report for treatments between selected dates at your trust or organisation
    </h1>
<br>
    <div class="nhsuk-form-group select-inline">    
        <label class="nhsuk-label" for="EndDate">
          Treatment start date
        </label>
        <span class="nhsuk-hint">
          For example, 30 4 2019
        </span>
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="EndDate">
        Treatment end date
      </label>
      <span class="nhsuk-hint">
        For example, 21 3 2022
      </span>
      <div class="nhsuk-date-input" id="example">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="day">
              Day
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="month">
              Month
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="year">
              Year
            </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

      <a class="nhsuk-button select-inline" href="reports-malta-dac-info">Search</a>
      <div class="nhsuk-form-group select-inline">
        <p class="select-inline" style="padding-top: 12px";><a href="reports-malta-dac">Clear dates</a></p>
      </div>    

      <div class="nhsuk-inset-text" style="margin-top:2px;">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>No treatments found for these dates. Enter different start or end dates for your report.</p>      
      </div>

  </div>
</div>

</div>
</div>
{% endblock %}