{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Reports - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Reports</li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="home">Back to home page</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l ">Filter and download your report as a spreadsheet</h1>
   

    <span class="nhsuk-hint nhsuk-u-margin-bottom-4">
      You can use the filters here to narrow your search and find details of treatments within your trust.
    </span>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="startDate">
        Start date
      </label>
      <span class="nhsuk-hint">
        For example, 21/03/2019
      </span>
      <input class="nhsuk-input nhsuk-input--width-10" id="startDate" name="startdate" type="text">
    </div>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="EndDate">
        End date
      </label>
      <span class="nhsuk-hint">
        For example, 21/05/2019
      </span>
      <input class="nhsuk-input nhsuk-input--width-10" id="startDate" name="startdate" type="text">
    </div>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="select-1">
        Entitlement
      </label>
      <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="0" selected>All</option>
          <option value="1">EHIC</option>
          <option value="2">PRC</option>
          <option value="3">S2/E112</option>
        </select>
    </div>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="country">
        Country of issue
      </label>
      <div class="nhsuk-hint">For example, France</div>
      <input class="nhsuk-input nhsuk-input--width-10" id="country" name="country" type="text" placeholder="All countries">
    </div>
    
    <br>
    
    <a class="nhsuk-button select-inline" href="reports-filter#summary">Apply filters</a>

  </div>
</div>

<!--15 09 2022 - Elaine Russell - Code removed from prototype so the layout can remain consistent with the existing reports page - suggested this gets added to the backlog -->
<!-- <div class="row">
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>For Malta Quota reports please visit the <a href="reports-malta">Malta Quota reports page</a>.</p>
  </div>
</div> -->

<br>

 </div>
</div>
{% endblock %}
