{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Search
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      EHIC details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Search for a person with an EHIC that covers the treatment dates
        </h1>
      </legend>

      <span class="nhsuk-hint">
        Enter the details as they appear on the EHIC (Numbers in brackets refer to the areas on the EHIC card).
      </span>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Name (3)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="name" name="name" type="text" value="Martin">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="givenName">
          Given names (4)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="givenName" name="givenname" type="text" value="Dan">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Date of birth (5)
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 15 03 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="day" name="day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="month" name="month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="year" name="year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
        
      </div>
    </fieldset>

    <a class="nhsuk-button" href="search-half-name#results">Search</a>
    <p><a href="home">Cancel</a></p>

 </div>

 <div class="nhsuk-grid-column-full">
    
  <br>
  <h3 id="result">10 results found</h3>

  <div class="nhsuk-table-responsive">
    <table class="nhsuk-table" id="table">
      <!-- <caption class="nhsuk-table__caption">Person search results</caption> -->
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col">Name</th>
          <th class="nhsuk-table__header" scope="col">Given names</th>
          <th class="nhsuk-table__header" scope="col">Date of birth</th>
          <th class="nhsuk-table__header" scope="col">Personal identification number</th>
          <th class="nhsuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
  
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>iel</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000293</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>ial</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000345</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>iella</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000778</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>i</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000334</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>ny</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000798</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell "><b>Dan</b>yell</td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000933</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell ">A<b>dan</b></td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000223</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Martin</td>
          <td class="nhsuk-table__cell ">Ai<b>dan</b></td>
          <td class="nhsuk-table__cell ">06/12/1988</td>
          <td class="nhsuk-table__cell "> 280000000167</td>
          <td class="nhsuk-table__cell "><a href="#">Select</a></td>
        </tr>

      </tbody>
    </table>
  </div>
  
  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
      <li class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="search-half-name-pg2#table">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">Page 2 of 2</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

</div>

</div>
{% endblock %}
