{% extends 'layout-with-login.html' %}
{% block pageTitle %}
What is the end date of the treatment? - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- <form action="treatment-cost-malta" method="post"> -->
      <form action="check-treatment-dates" method="post">

        <input type="hidden" id="treatmentStartMM" name="treatmentStartMM" value="{{ data['treatment-start-mm'] }}" />

    <div class="nhsuk-form-group">
      <span class="nhsuk-caption-l">
        Treatment details
      </span>
      <fieldset class="nhsuk-fieldset" aria-describedby="hint" role="group">
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">
            What is the end date of the treatment?
          </h1>
        </legend>
        <span class="nhsuk-hint" id="hint">
          For example, 25 10 2021
        </span>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="treatment-end-dd" name="treatment-end-dd" type="number" pattern="[0-9]*" value="{{ data['treatment-end-dd'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="treatment-end-mm" name="treatment-end-mm" type="number" pattern="[0-9]*" value="{{ data['treatment-end-mm'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="treatment-end-yyyy" name="treatment-end-yyyy" type="number" pattern="[0-9]*" value="{{ data['treatment-end-yyyy'] }}">
            </div>
          </div>
        </div>
      </fieldset>
    
    </div>


    <button class="nhsuk-button" type="submit">
      Continue
    </button>
    <p><a href="malta-cancel-confirmation-end-date">Cancel</a></p>
    </form>
 </div>
</div>
{% endblock %}
