{% extends 'layout-with-login.html' %}
{% block pageTitle %}
What is the start date of the treatment? - Reporting overseas visitor treatments - NHSBSA
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-form-group">
      <span class="nhsuk-caption-l" style="margin-top: 20px;">
        Treatment details
      </span>
      <form action="treatment-end-date-malta-additional-1" method="post">
        <fieldset class="nhsuk-fieldset" aria-describedby="hint" role="group">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              What is the start date of the treatment?
            </h1>
          </legend>
          <span class="nhsuk-hint" id="hint">
            For example, 25 10 2021
          </span>

          <div class="nhsuk-date-input" id="treatment-start">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="treatment-start-dd">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="treatment-start-dd"
                  name="treatment-start-dd" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="treatment-start-mm">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="treatment-start-mm"
                  name="treatment-start-mm" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="treatment-start-yyyy">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="treatment-start-yyyy"
                  name="treatment-start-yyyy" type="number" pattern="[0-9]*" value="">
              </div>
            </div>
          </div>
        </fieldset>
        <br />
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
    </div>
    <p><a href="#">Cancel</a></p>
  </div>
</div>
{% endblock %}