{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Upload a copy of the EHIC
{% endblock %}



{% block content %}
{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
  href: "#",
  text: "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      EHIC details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Upload a copy of the EHIC (optional)
        </h1>
      </legend>
      <div class="nhsuk-inset-text" style="margin-top: 0px; margin-bottom: 25px;">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>A copy of the entitlement maybe needed if the member state  requests it. If you upload now you can save time if you are asked to provide the copy later.</p>
      </div>

      <div class="nhsuk-hint">
        The selected file must be a PDF, BMP, PNG, JPG or JPEG.
      </div>

      <input class="file-upload" id="file-upload" name="file-upload" type="file" aria-describedby="file-upload">
    </fieldset> 

    <br>
      
    <a style="margin-right: 20px;" class="nhsuk-button" href="address-ehic">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
