{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Verify additional costs
{% endblock %}


{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="add-cost" method="post">
    {% call fieldset({
      legend: {
        "text": "Is £500.00 the additional cost of this treatment?",
        "classes": "nhsuk-fieldset__legend--m",
        "isPageHeading": true
      }
      }) %}
    
    {{ radios({
       "idPrefix": "add",
       "name": "add",
       "items": [
         {
           "value": "yes",
           "text": "Yes"
         },
         {
           "value": "no",
           "text": "No"
         }
       ]
     }) }}

     {% endcall %}

    <button style="margin-right: 20px;" class="nhsuk-button" type="submit">Continue</button>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>
  </form>

 </div>
</div>
{% endblock %}
