{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Patient address known? - Report overseas visitor treatments - NHSBSA
{% endblock %}

{% block content %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
 }) }}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <span class="nhsuk-caption-l" style="margin-top: 20px;">
                Treatment details
            </span>

            <form action="address-check-malta" method="post">
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            Do you have John Camilleri's address in Malta?
                        </h1>
                    </legend>

                    <div class="nhsuk-radios">

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="addressCheck-yes" name="addressCheck" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="addressCheck-yes">
                                Yes
                            </label>
                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="addressCheck-no" name="addressCheck" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="addressCheck-no">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>

            </div>
<br/>
            <button class="nhsuk-button" type="submit">
                Continue
              </button>
            </form>
        </div>
        <p><a href="home">Cancel</a></p>
    </div>
</div>
{% endblock %}