{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check these details before submitting the treatment form - Reporting overseas visitor treatments - NHSBSA
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" style="margin-top: 20px;" for="CheckYourAnswers">
        Check these details before submitting the treatment form
      </label>
    </h1>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Treatment details</h2>

      <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            09/08/2021
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            15/03/2022
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>

  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost (£)
        </dt>
        <dd class="nhsuk-summary-list__value">
          1850.66
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
    </dl>

    <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Agreement details</h2>

    <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-9">

       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           Issuing member state
         </dt>
         <dd class="nhsuk-summary-list__value">
           Malta
         </dd>
 
         <dd class="nhsuk-summary-list__actions">
           <a href="#">
           </a>
         </dd>
       </div>

       <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Quota number
        </dt>
        <dd class="nhsuk-summary-list__value">
          22/23-001
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <!-- <a href="malta-quota-number">
            Change<span class="nhsuk-u-visually-hidden"> malta quota number</span>
          </a> -->
        </dd>
      </div>
 

 
     </dl>

     <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Patient details</h2>

    <dl class="nhsuk-summary-list">
       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           Name
         </dt>
         <dd class="nhsuk-summary-list__value">
           Camilleri
         </dd>
 
         <dd class="nhsuk-summary-list__actions">
           <!-- <a href="patient-details-malta">Change
           </a> -->
         </dd>
       </div>
 
       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           Given names
         </dt>
         <dd class="nhsuk-summary-list__value">
           John
         </dd>
 
         <dd class="nhsuk-summary-list__actions">
           <!-- <a href="patient-details-malta">Change
           </a> -->
         </dd>
       </div>
 
       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
          Date of birth
         </dt>
         <dd class="nhsuk-summary-list__value">
           06/12/1988
         </dd>
 
         <dd class="nhsuk-summary-list__actions">
           <!-- <a href="patient-details-malta">Change
           </a> -->
         </dd>
       </div>

       <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you have John Camilleri's address in Malta?
        </dt>
        <dd class="nhsuk-summary-list__value">
          No
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="address-check-malta">
            Change<span class="nhsuk-u-visually-hidden"> do you have John Camilleri's home address in Malta</span>
          </a>
        </dd>
      </div>


 

 
     </dl>



  <p>If you select Submit, you are confirming these details are correct to the best of your knowledge.</p>
  
  <a style="margin-right: 20px;" class="nhsuk-button" href="confirmation-malta">Submit</a>
 
  <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
