{% extends 'layout-with-login.html' %}

{% block pageTitle %}
Malta Quota treatment submitted - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

        <h1 style="font-size:40px;" class="nhsuk-panel__title">
          Malta Quota treatment submitted
          </h1>

          <div class="nhsuk-panel__body">
            The treatment ID for John Camilleri is:<br />
<strong>63878</strong>

          </div>

      </div>

      <p>
        The treatment details have been submitted.
      </p>


      <a class="nhsuk-button" href="home">Back to home page</a>
       

    </div>
  </div>
{% endblock %}
