{% extends 'layout-with-login-multi-trust-3.html' %}
{% block pageTitle %}
Which entitlement does the patient have? - Report overseas visitor treatments - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item">Add treatment</li>
    </ol>
    <a class="nhsuk-back-link" href="home">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Home
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/multi-trust-reporting/version-1/add-treatment" method="post">

      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="select-entitlement-label">
          Which entitlement does the patient have?
        </label>
      </h1>

      <div class="nhsuk-form-group">
        <div class="nhsuk-radios">
          
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="EHIC" name="entitlement-type" type="radio" value="EHIC" aria-controls="conditional-contact-1" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="EHIC">EHIC</label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="PRC" name="entitlement-type" type="radio" value="PRC" aria-controls="conditional-contact-2" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="PRC">PRC</label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="S2/E112" name="entitlement-type" type="radio" value="S2/E112" aria-controls="conditional-contact-3" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="S2/E112">S2/E112</label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Malta Quota" name="entitlement-type" type="radio" value="Malta Quota" aria-controls="conditional-contact-4" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="Malta Quota">Malta Quota</label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="Non-EU Reciprocal Healthcare" name="entitlement-type" type="radio" value="Non-EU Reciprocal Healthcare" aria-controls="conditional-contact-5" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="Non-EU Reciprocal Healthcare">Non-EU Reciprocal Healthcare</label>
          </div>
          
        </div>
      </div>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>

    </form>

 </div>
</div>
{% endblock %}
