{% extends 'layout-with-login-multi-trust-4.html' %}

{% block pageTitle %}Check your answers before submitting your access request{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/multi-trust-reporting/version-1/confirmation-trust-access-request-submitted" method="post">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        <h1 style="font-size:40px;" class="nhsuk-panel__title">
          Your access request has been sent
        </h1>
      </div>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>You will receive a confirmation email for each trust you have requested access to.</p>

      <p>A member of the Cost Recovery Operations team will contact you within 3 working days to approve your request.</p>

      <p>You will receive a final email confirming which trust you will have access to.</p>
      

      <button class="nhsuk-button" type="submit">
        Back to Home
      </button>


    </form>

 </div>
</div>
{% endblock %}