{% extends 'layout-with-login-multi-trust-3.html' %}
{% block pageTitle %}
Check these details before requesting account - Report overseas visitor treatments - NHSBSA
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/multi-trust-reporting/version-1/confirmation-account-request-received" method="post">

    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" style="margin-top: 20px;" for="cya-label">
        Your request has been received
      </label>
    </h1>

    <p>You will receive a confirmation email for the account requested.</p>

    <p>A member of the Cost Recovery Operations Team will be in contact within 3 working days to approve your request.</p>

    <p>You will receive another email confirming successful account creation along with the link to the portal.</p>
    
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Back to Sign in</button>

    </form>

 </div>
</div>
{% endblock %}
