{% extends 'layout-with-login-multi-trust-3.html' %}

{% block pageTitle %}Check your answers before submitting your access request{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/multi-trust-reporting/version-1/cya-request-access-to-other-trusts" method="post">

      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="manage-trust-access-label" style="margin-top: 20px;">
          Check your answers before submitting your access request
        </label>
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Trusts you currently have access to
          </dt>
          <dd class="nhsuk-summary-list__value">
            North Tees and Hartlepool NHS Foundation Trust<br>
            Tees, Esk and Wear Valleys NHS Foundation Trust
          </dd>
          <dd class="nhsuk-summary-list__actions">

          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Trusts you require access to
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['required-trust-name'] %}
              {% if data['required-trust-name'] | length > 0 %}
                {% if data['required-trust-name'] | first %}
                  {% for trust in data['required-trust-name'] %}
                    {{ trust }}<br>
                  {% endfor %}
                {% else %}
                  {{ data['required-trust-name'] }}
                {% endif %}
              {% endif %}
            {% else %}
              The Newcastle Upon Tyne Hospitals NHS Foundation Trust<br>
              Gateshead Health NHS Foundation Trust
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="request-access-to-other-trusts">Change<span class="nhsuk-u-visually-hidden">trusts you require access to</span></a>
          </dd>   
        </div>
      </dl>

      <button style="margin-right:20px;" class="nhsuk-button" type="submit">
        Submit request
      </button>
      
      <p><a href="manage-trust-access">Cancel</a></p>

    </form>

 </div>
</div>
{% endblock %}