{% extends 'layout-with-login-multi-trust-3.html' %}
{% block pageTitle %}
Check these details before submitting the treatment form - Report overseas visitor treatments - NHSBSA
{% endblock %}


{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <form action="/multi-trust-reporting/version-1/new-ehic-details-cya" method="post">

    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" style="margin-top: 20px;" for="cya-label">
        Check these details before submitting the treatment form
      </label>
    </h1>

    <h3>Treatment details</h3>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['treatment-start-date'] or '01/11/2025' }}
        </dd>
        <dd class="nhsuk-summary-list__actions">

        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['treatment-end-date'] or '30/11/2025' }}
        </dd>
        <dd class="nhsuk-summary-list__actions">

        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost (£)
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['treatment-cost'] or '200.00' }}
        </dd>
        <dd class="nhsuk-summary-list__actions">

        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost above £10,000
        </dt>
        <dd class="nhsuk-summary-list__value">
          No
        </dd>
        <dd class="nhsuk-summary-list__actions">

        </dd>
      </div>
    </dl>


    <h3>EHIC details</h3>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['entitlement-registration-country'] or 'Austria (AT)' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="entitlement-registration-country#entitlement-registration-country">
            Change<span class="nhsuk-u-visually-hidden"> issuing member state</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['ehic-last-name'] or 'Doe' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-search-for-person-results#ehic-last-name">
            Change<span class="nhsuk-u-visually-hidden"> Name</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Given names
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['ehic-first-names'] or 'John' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-search-for-person-results#ehic-first-names">
            Change<span class="nhsuk-u-visually-hidden"> Given names</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['ehic-date-of-birth'] or '13/12/1994' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-search-for-person-results#ehic-date-of-birth-day">
            Change<span class="nhsuk-u-visually-hidden"> Date of birth</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Personal identification number
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['new-ehic-pin'] or '1234567890' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="add-person-ehic#new-ehic-pin">
            Change<span class="nhsuk-u-visually-hidden"> Personal identification number</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          EHIC card number	 
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['new-ehic-card-number'] or '6543211110' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="add-person-ehic#new-ehic-card-number">
            Change<span class="nhsuk-u-visually-hidden"> EHIC card number</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          EHIC expiry date 
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['new-ehic-expiry-date'] or '31/12/2025' }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="add-person-ehic#new-ehic-expiry-date-day">
            Change<span class="nhsuk-u-visually-hidden"> EHIC expiry date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          {{ data['ehic-first-names'] or 'John' }} {{ data['ehic-last-name'] or 'Doe' }} is a student
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['new-ehic-student'] or 'No' }} 
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="add-person-ehic#new-ehic-student">
            Change<span class="nhsuk-u-visually-hidden"> John Doe is a student</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Identification number of the institution 
        </dt>
        <dd class="nhsuk-summary-list__value">
          1A00 - KFA WIEN
        </dd>
 
        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-search-for-institution-results#ehic-institution-id">
            Change<span class="nhsuk-u-visually-hidden"> Identification number of the institution</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Copy of the EHIC
        </dt>
        <dd class="nhsuk-summary-list__value">
          example.png
        </dd>
 
        <dd class="nhsuk-summary-list__actions">
          <a href="upload-ehic">
            Change<span class="nhsuk-u-visually-hidden">copy of the EHIC</span>
          </a>
        </dd>
      </div>
    </dl>


    <h3>Address details</h3>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you have {{ data['ehic-first-names'] or 'John' }} {{ data['ehic-last-name'] or 'Doe' }}'s address in {{ data['entitlement-registration-country'] or 'Austria (AT)' }}?
        </dt>
        <dd class="nhsuk-summary-list__value">
          Yes
        </dt>
        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-known-address">
            Change<span class="nhsuk-u-visually-hidden"> if address is known</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Home address
        </dt>
        <dd class="nhsuk-summary-list__value">
          1 Test Lane<br>
          {{ data['entitlement-registration-country'] or 'Austria (AT)' }}
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="ehic-enter-address#new-ehic-address-line-1">
            Change<span class="nhsuk-u-visually-hidden"> home address</span>
          </a>
        </dd>
      </div>

    </dl>

  </dl>

  <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.</p>
  
  <div class="button-container" style="margin-top: 40px;">
    <button style="margin-right:20px;" class="nhsuk-button" type="submit">Submit</button>
    <a href="save-as-draft-confirmation" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" role="button">Save as draft</a>
  </div>
    
  <p><a href="cancel-confirmation">Cancel</a></p>

  </form>

 </div>
</div>
{% endblock %}
