{% extends 'layout-with-login-multi-trust-3.html' %}

{% block pageTitle %}
Select all trusts you require access to - Report overseas visitor treatments - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/multi-trust-reporting/version-1/request-access-to-other-trusts" method="post">

      <h1 class="nhsuk-label-wrapper">
        <label class="nhsuk-label nhsuk-label--l" for="manage-trust-access-label" style="margin-top: 20px;">
          Select all trusts you require access to
        </label>
      </h1>

    </div>


    <div class="nhsuk-grid-column-one-half">

      <h3 style="margin-top: 20px;">Trusts you currently have access to</h3>

      <ul>
        <li>North Tees and Hartlepool NHS Foundation Trust</li>
        <li>Tees, Esk and Wear Valleys NHS Foundation Trust</li>
      </ul>


      <div class="nhsuk-form-group">
        <div class="nhsuk-hint" style="margin-bottom: 5px;" id="required-trust-label" for="required-trust-hint-label" class="form-label">
          Use the drop-down or begin typing to find a trust
        </div>
        <input class="nhsuk-input" list="trust-list" id="required-trust-name" name="required-trust-name">
        <datalist id="trust-list">
          <!-- A -->
          <option value="Airedale NHS Foundation Trust"></option>
          <option value="Alder Hey Children's NHS Foundation Trust"></option>
          <option value="Ashford and St Peter's Hospitals NHS Foundation Trust"></option>
          <option value="Aspen Healthcare - Parkside Hospital"></option>
          <option value="Avon and Wiltshire Mental Health Partnership NHS Trust"></option>
        
          <!-- B -->
          <option value="Barking, Havering and Redbridge University Hospitals NHS Trust"></option>
          <option value="Barnet, Enfield and Haringey Mental Health NHS Trust"></option>
          <option value="Barnsley Hospital NHS Foundation Trust"></option>
          <option value="Barts Health NHS Trust"></option>
          <option value="Bedfordshire Hospitals NHS Foundation Trust"></option>
          <option value="Berkshire Healthcare NHS Foundation Trust"></option>
          <option value="Birmingham Community Healthcare NHS Foundation Trust"></option>
          <option value="Birmingham Women's and Children's NHS Foundation Trust"></option>
          <option value="Birmingham and Solihull Mental Health NHS Foundation Trust"></option>
          <option value="Black Country Healthcare NHS Foundation Trust"></option>
          <option value="Blackpool Teaching Hospitals NHS Foundation Trust"></option>
          <option value="Bolton NHS Foundation Trust"></option>
          <option value="Bradford District Care NHS Foundation Trust"></option>
          <option value="Bradford Teaching Hospitals NHS Foundation Trust"></option>
          <option value="Bridgewater Community Healthcare NHS Foundation Trust"></option>
          <option value="Buckinghamshire Healthcare NHS Trust"></option>
        
          <!-- C -->
          <option value="Calderdale and Huddersfield NHS Foundation Trust"></option>
          <option value="Cambridge University Hospitals NHS Foundation Trust"></option>
          <option value="Cambridgeshire Community Services NHS Trust"></option>
          <option value="Cambridgeshire and Peterborough NHS Foundation Trust"></option>
          <option value="Camden and Islington NHS Foundation Trust"></option>
          <option value="Care UK"></option>
          <option value="Central London Community Healthcare NHS Trust"></option>
          <option value="Central and North West London NHS Foundation Trust"></option>
          <option value="Chelsea and Westminster Hospital NHS Foundation Trust"></option>
          <option value="Cheshire and Wirral Partnership NHS Foundation Trust"></option>
          <option value="Chesterfield Royal Hospital NHS Foundation Trust"></option>
          <option value="Cornwall Partnership NHS Foundation Trust"></option>
          <option value="Countess of Chester Hospital NHS Foundation Trust"></option>
          <option value="County Durham and Darlington NHS Foundation Trust"></option>
          <option value="Coventry and Warwickshire Partnership NHS Trust"></option>
          <option value="Croydon Health Services NHS Trust"></option>
          <option value="Cumbria, Northumberland, Tyne and Wear NHS Foundation Trust"></option>
        
          <!-- D -->
          <option value="Dartford and Gravesham NHS Trust"></option>
          <option value="Derbyshire Community Health Services NHS Foundation Trust"></option>
          <option value="Derbyshire Healthcare NHS Foundation Trust"></option>
          <option value="Devon Partnership NHS Trust"></option>
          <option value="Doncaster and Bassetlaw Teaching Hospitals NHS Foundation Trust"></option>
          <option value="Dorset County Hospital NHS Foundation Trust"></option>
          <option value="Dorset Healthcare University NHS Foundation Trust"></option>
          <option value="Dudley Integrated Health and Care NHS Trust"></option>
        
          <!-- E -->
          <option value="East Cheshire NHS Trust"></option>
          <option value="East Kent Hospitals University NHS Foundation Trust"></option>
          <option value="East Lancashire Hospitals NHS Trust"></option>
          <option value="East London NHS Foundation Trust"></option>
          <option value="East Midlands Ambulance Service NHS Trust"></option>
          <option value="East Suffolk and North Essex NHS Foundation Trust"></option>
          <option value="East Sussex Healthcare NHS Trust"></option>
          <option value="East and North Hertfordshire NHS Trust"></option>
          <option value="East of England Ambulance Service NHS Trust"></option>
          <option value="Epsom and St Helier University Hospitals NHS Trust"></option>
          <option value="Essex Partnership University NHS Foundation Trust"></option>
        
          <!-- F -->
          <option value="Frimley Health NHS Foundation Trust"></option>

          <!-- G -->
          <option data-id="59" value="Gateshead Health NHS Foundation Trust"></option>
          <option data-id="60" value="George Eliot Hospital NHS Trust"></option>
          <option data-id="61" value="Gloucestershire Health and Care NHS Foundation Trust"></option>
          <option data-id="62" value="Gloucestershire Hospitals NHS Foundation Trust"></option>
          <option data-id="63" value="Great Ormond Street Hospital For Children NHS Foundation Trust"></option>
          <option data-id="64" value="Great Western Hospitals NHS Foundation Trust"></option>
          <option data-id="65" value="Greater Manchester Mental Health NHS Foundation Trust"></option>
          <option data-id="66" value="Guy's and St Thomas' NHS Foundation Trust"></option>

          <!-- H -->
          <option data-id="67" value="Hampshire Hospitals NHS Foundation Trust"></option>
          <option data-id="68" value="Harrogate and District NHS Foundation Trust"></option>
          <option data-id="69" value="Herefordshire and Worcestershire Health and Care NHS Trust"></option>
          <option data-id="70" value="Hertfordshire Community NHS Trust"></option>
          <option data-id="71" value="Hertfordshire Partnership University NHS Foundation Trust"></option>
          <option data-id="72" value="Homerton Healthcare NHS Foundation Trust"></option>
          <option data-id="73" value="Hounslow and Richmond Community Healthcare NHS Trust"></option>
          <option data-id="74" value="Hull University Teaching Hospitals NHS Trust"></option>
          <option data-id="75" value="Humber Teaching NHS Foundation Trust"></option>

          <!-- I -->
          <option data-id="76" value="Imperial College Healthcare NHS Trust"></option>
          <option data-id="77" value="Isle of Wight NHS Trust"></option>

          <!-- J -->
          <option data-id="78" value="James Paget University Hospitals NHS Foundation Trust"></option>

          <!-- K -->
          <option data-id="79" value="Kent and Medway NHS and Social Care Partnership Trust"></option>
          <option data-id="80" value="Kent Community Health NHS Foundation Trust"></option>
          <option data-id="81" value="Kettering General Hospital NHS Foundation Trust"></option>
          <option data-id="82" value="King's College Hospital NHS Foundation Trust"></option>
          <option data-id="83" value="Kingston Hospital NHS Foundation Trust"></option>

          <!-- L -->
          <option data-id="84" value="Lancashire and South Cumbria NHS Foundation Trust"></option>
          <option data-id="85" value="Lancashire Teaching Hospitals NHS Foundation Trust"></option>
          <option data-id="86" value="Leeds and York Partnership NHS Foundation Trust"></option>
          <option data-id="87" value="Leeds Community Healthcare NHS Trust"></option>
          <option data-id="88" value="Leeds Teaching Hospitals NHS Trust"></option>
          <option data-id="89" value="Leicestershire Partnership NHS Trust"></option>
          <option data-id="90" value="Lewisham and Greenwich NHS Trust"></option>
          <option data-id="91" value="Lincolnshire Community Health Services NHS Trust"></option>
          <option data-id="92" value="Lincolnshire Partnership NHS Foundation Trust"></option>
          <option data-id="93" value="Liverpool Heart and Chest Hospital NHS Foundation Trust"></option>
          <option data-id="94" value="Liverpool University Hospitals NHS Foundation Trust"></option>
          <option data-id="95" value="Liverpool Women's NHS Foundation Trust"></option>
          <option data-id="96" value="London Ambulance Service NHS Trust"></option>
          <option data-id="97" value="London North West University Healthcare NHS Trust"></option>

          <!-- M -->
          <option data-id="98" value="Maidstone and Tunbridge Wells NHS Trust"></option>
          <option data-id="99" value="Manchester University NHS Foundation Trust"></option>
          <option data-id="100" value="Medway NHS Foundation Trust"></option>
          <option data-id="101" value="Mersey Care NHS Foundation Trust"></option>
          <option data-id="247" value="Mersey and West Lancashire Teaching Hospitals NHS Trust"></option>
          <option data-id="102" value="Mid Cheshire Hospitals NHS Foundation Trust"></option>
          <option data-id="103" value="Mid and South Essex NHS Foundation Trust"></option>
          <option data-id="104" value="Mid Yorkshire Hospitals NHS Trust"></option>
          <option data-id="105" value="Midlands Partnership University NHS Foundation Trust"></option>
          <option data-id="106" value="Milton Keynes University Hospital NHS Foundation Trust"></option>
          <option data-id="107" value="Moorfields Eye Hospital NHS Foundation Trust"></option>

          <!-- N -->
          <option data-id="110" value="Norfolk Community Health and Care NHS Trust"></option>
          <option data-id="108" value="Norfolk and Norwich University Hospitals NHS Foundation Trust"></option>
          <option data-id="109" value="Norfolk and Suffolk NHS Foundation Trust"></option>
          <option data-id="111" value="North Bristol NHS Trust"></option>
          <option data-id="112" value="North Cumbria Integrated Care NHS Foundation Trust"></option>
          <option data-id="113" value="North East Ambulance Service NHS Foundation Trust"></option>
          <option data-id="114" value="North East London NHS Foundation Trust"></option>
          <option data-id="115" value="North Middlesex University Hospital NHS Trust"></option>
          <option data-id="116" value="North Staffordshire Combined Healthcare NHS Trust"></option>
          <option data-id="117" value="North Tees and Hartlepool NHS Foundation Trust"></option>
          <option data-id="118" value="North West Ambulance Service NHS Trust"></option>
          <option data-id="119" value="North West Anglia NHS Foundation Trust"></option>
          <option data-id="120" value="North West Boroughs Healthcare NHS Foundation Trust"></option>
          <option data-id="251" value="Northampton General Hospital NHS Trust"></option>
          <option data-id="122" value="Northamptonshire Healthcare NHS Foundation Trust"></option>
          <option data-id="123" value="Northern Care Alliance NHS Foundation Trust"></option>
          <option data-id="125" value="Northern Lincolnshire and Goole NHS Foundation Trust"></option>
          <option data-id="126" value="Northumbria Healthcare NHS Foundation Trust"></option>
          <option data-id="127" value="Nottingham University Hospitals NHS Trust"></option>
          <option data-id="128" value="Nottinghamshire Healthcare NHS Foundation Trust"></option>

          <!-- O -->
          <option data-id="129" value="Oxford Health NHS Foundation Trust"></option>
          <option data-id="130" value="Oxford University Hospitals NHS Foundation Trust"></option>
          <option data-id="131" value="Oxleas NHS Foundation Trust"></option>

          <!-- P -->
          <option data-id="133" value="Pennine Care NHS Foundation Trust"></option>
          <option data-id="134" value="Portsmouth Hospitals University NHS Trust"></option>

          <!-- Q -->
          <option data-id="135" value="Queen Victoria Hospital NHS Foundation Trust"></option>

          <!-- R -->
          <option data-id="136" value="Rotherham Doncaster and South Humber NHS Foundation Trust"></option>
          <option data-id="137" value="Royal Berkshire NHS Foundation Trust"></option>
          <option data-id="138" value="Royal Cornwall Hospitals NHS Trust"></option>
          <option data-id="139" value="Royal Devon University Healthcare NHS Foundation Trust"></option>
          <option data-id="140" value="Royal Free London NHS Foundation Trust"></option>
          <option data-id="141" value="Royal National Orthopaedic Hospital NHS Trust"></option>
          <option data-id="142" value="Royal Papworth Hospital NHS Foundation Trust"></option>
          <option data-id="143" value="Royal Surrey NHS Foundation Trust"></option>
          <option data-id="144" value="Royal United Hospitals Bath NHS Foundation Trust"></option>

          <!-- S -->
          <option data-id="145" value="Salisbury NHS Foundation Trust"></option>
          <option data-id="146" value="Sandwell and West Birmingham Hospitals NHS Trust"></option>
          <option data-id="147" value="Sheffield Children's NHS Foundation Trust"></option>
          <option data-id="248" value="Sheffield Health and Social Care NHS Foundation Trust"></option>
          <option data-id="148" value="Sheffield Teaching Hospitals NHS Foundation Trust"></option>
          <option data-id="149" value="Sherwood Forest Hospitals NHS Foundation Trust"></option>
          <option data-id="186" value="Shrewsbury and Telford Hospital NHS Trust"></option>
          <option data-id="150" value="Shropshire Community Health NHS Trust"></option>
          <option data-id="151" value="Solent NHS Trust"></option>
          <option data-id="152" value="Somerset NHS Foundation Trust"></option>
          <option data-id="153" value="South Central Ambulance Service NHS Foundation Trust"></option>
          <option data-id="154" value="South East Coast Ambulance Service NHS Foundation Trust"></option>
          <option data-id="155" value="South London and Maudsley NHS Foundation Trust"></option>
          <option data-id="156" value="South Tees Hospitals NHS Foundation Trust"></option>
          <option data-id="157" value="South Tyneside and Sunderland NHS Foundation Trust"></option>
          <option data-id="158" value="South Warwickshire University NHS Foundation Trust"></option>
          <option data-id="159" value="South West London and St George's Mental Health NHS Trust"></option>
          <option data-id="160" value="South West Yorkshire Partnership NHS Foundation Trust"></option>
          <option data-id="161" value="South Western Ambulance Service NHS Foundation Trust"></option>
          <option data-id="162" value="Southern Health NHS Foundation Trust"></option>
          <option data-id="164" value="St George's University Hospitals NHS Foundation Trust"></option>
          <option data-id="166" value="Stockport NHS Foundation Trust"></option>
          <option data-id="167" value="Surrey and Borders Partnership NHS Foundation Trust"></option>
          <option data-id="168" value="Surrey and Sussex Healthcare NHS Trust"></option>
          <option data-id="169" value="Sussex Community NHS Foundation Trust"></option>
          <option data-id="170" value="Sussex Partnership NHS Foundation Trust"></option>

          <!-- T -->
          <option data-id="171" value="Tameside and Glossop Integrated Care NHS Foundation Trust"></option>
          <option data-id="173" value="Tees, Esk and Wear Valleys NHS Foundation Trust"></option>
          <option data-id="174" value="The Christie NHS Foundation Trust"></option>
          <option data-id="175" value="The Clatterbridge Cancer Centre NHS Foundation Trust"></option>
          <option data-id="176" value="The Dudley Group NHS Foundation Trust"></option>
          <option data-id="177" value="The Hillingdon Hospitals NHS Foundation Trust"></option>
          <option data-id="178" value="The Newcastle Upon Tyne Hospitals NHS Foundation Trust"></option>
          <option data-id="179" value="The Princess Alexandra Hospital NHS Trust"></option>
          <option data-id="180" value="The Queen Elizabeth Hospital King's Lynn NHS Foundation Trust"></option>
          <option data-id="181" value="The Robert Jones and Agnes Hunt Orthopaedic Hospital NHS Foundation Trust"></option>
          <option data-id="182" value="The Rotherham NHS Foundation Trust"></option>
          <option data-id="183" value="The Royal Marsden NHS Foundation Trust"></option>
          <option data-id="184" value="The Royal Orthopaedic Hospital NHS Foundation Trust"></option>
          <option data-id="185" value="The Royal Wolverhampton NHS Trust"></option>
          <option data-id="172" value="The Tavistock and Portman NHS Foundation Trust"></option>
          <option data-id="187" value="The Walton Centre NHS Foundation Trust"></option>
          <option data-id="188" value="Torbay and South Devon NHS Foundation Trust"></option>

          <!-- U -->
          <option data-id="189" value="United Lincolnshire Hospitals NHS Trust"></option>
          <option data-id="190" value="University College London Hospitals NHS Foundation Trust"></option>
          <option data-id="191" value="University Hospital Southampton NHS Foundation Trust"></option>
          <option data-id="192" value="University Hospitals Birmingham NHS Foundation Trust"></option>
          <option data-id="193" value="University Hospitals Bristol and Weston NHS Foundation Trust"></option>
          <option data-id="194" value="University Hospitals Coventry and Warwickshire NHS Trust"></option>
          <option data-id="195" value="University Hospitals Dorset NHS Foundation Trust"></option>
          <option data-id="200" value="University Hospitals Plymouth NHS Trust"></option>
          <option data-id="201" value="University Hospitals Sussex NHS Foundation Trust"></option>
          <option data-id="196" value="University Hospitals of Derby and Burton NHS Foundation Trust"></option>
          <option data-id="197" value="University Hospitals of Leicester NHS Trust"></option>
          <option data-id="198" value="University Hospitals of Morecambe Bay NHS Foundation Trust"></option>
          <option data-id="199" value="University Hospitals of North Midlands NHS Trust"></option>

          <!-- W -->
          <option data-id="202" value="Walsall Healthcare NHS Trust"></option>
          <option data-id="203" value="Warrington and Halton Teaching Hospitals NHS Foundation Trust"></option>
          <option data-id="204" value="West Hertfordshire Teaching Hospitals NHS Trust"></option>
          <option data-id="205" value="West London NHS Trust"></option>
          <option data-id="206" value="West Midlands Ambulance Service University NHS Foundation Trust"></option>
          <option data-id="207" value="West Suffolk NHS Foundation Trust"></option>
          <option data-id="208" value="Whittington Health NHS Trust"></option>
          <option data-id="209" value="Wirral Community Health and Care NHS Foundation Trust"></option>
          <option data-id="210" value="Wirral University Teaching Hospital NHS Foundation Trust"></option>
          <option data-id="211" value="Worcestershire Acute Hospitals NHS Trust"></option>
          <option data-id="212" value="Wrightington, Wigan and Leigh Teaching Hospitals NHS Foundation Trust"></option>
          <option data-id="213" value="Wye Valley NHS Trust"></option>

          <!-- Y -->
          <option data-id="214" value="Yeovil District Hospital NHS Foundation Trust"></option>
          <option data-id="215" value="York and Scarborough Teaching Hospitals NHS Foundation Trust"></option>
          <option data-id="216" value="Yorkshire Ambulance Service NHS Trust"></option>
        </datalist>
    </div>

  </div>

    <!-- RIGHT SIDE: Selected trusts -->
     <div class="nhsuk-grid-column-one-half">

      <h3 style="margin-top: 20px;">Trusts you have selected which you require access to:</h3>

      <div class="nhsuk-hint">If you have selected the wrong trust, select X to remove it.</div>

      <ul id="selectedTrustsContainer" class="selected-trusts-container nhsuk-list nhsuk-list--border">
        <!-- Selected trusts will be displayed here -->
      </ul>

      <div class="button-container" style="margin-top: 40px;">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </div>
      
      <p><a href="manage-trust-access">Cancel</a></p>

    </form>

 </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const input = document.getElementById('required-trust-name');
    const container = document.getElementById('selectedTrustsContainer');
    const selectedTrusts = new Set(); // prevent duplicates

    input.addEventListener('change', function () {
      const trustName = input.value.trim();
      if (trustName && !selectedTrusts.has(trustName)) {
        selectedTrusts.add(trustName);

        const li = document.createElement('li');
        li.style.display = 'inline-block';
        li.style.margin = '4px';

        const button = document.createElement('button');
        button.className = 'nhsuk-tag nhsuk-tag--grey';
        button.style.cursor = 'pointer';
        button.setAttribute('aria-label', `Remove ${trustName} from the list`);

        // Tag text
        const text = document.createElement('span');
        text.textContent = trustName;
        button.appendChild(text);


        // Remove tag on click
        button.addEventListener('click', function (e) {
          e.preventDefault();
          selectedTrusts.delete(trustName);
          li.remove();
        });

        li.appendChild(button);
        container.appendChild(li);
      }

      // clear input after adding
      input.value = '';
    });
  });
</script>

{% endblock %}