{% extends 'layout-with-login-multi-trust-3.html' %}
{% block pageTitle %}
Search for a person - Report overseas visitor treatments - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="search-person">Search (Person)</a></li>
      <li class="nhsuk-breadcrumb__list-item">View record</li>
    </ol>
    <a class="nhsuk-back-link" href="search-person">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      Search for a person
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <form action="/multi-trust-reporting/version-1/treatment-record-johndoe" method="post">

      
      <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Treatment record for John Doe
        </h1>
      </legend>

      <hr>

  </div>

      <hr>

      <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-label--m">Date of birth</h2>
        <p id="date-of-birth">13/12/1994</p>
      </div>

      <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-label--m">Home address</h2>
        <div>
          <div>
            <p id="address-line-1">
              1 Test Lane<br>
              Austria (AT)
            </p>
          </div>
        </div>
      </div>


      <div class="nhsuk-grid-column-full">
        
        <hr>
        
        <!-- Start of expander -->
        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span role="button" class="nhsuk-details__summary-text" id="entitlement-validity-ehic-">EHIC - valid until 31/12/2025</span>
            </summary>

            <div class="nhsuk-details__text">
              <h2 class="nhsuk-label--m" id="entitlement-type-ehic">EHIC treatments</h2>
          
              <span class="nhsuk-hint" id="treatment_trust_name">Added by Airedale NHS Foundation Trust</span>
                <div>
                  
                    <table id="search-person-EHIC-treatments-table" role="table" class="nhsuk-table-responsive">
                      <caption class="nhsuk-table__caption"></caption>
                      <thead class="nhsuk-table__head">
                        <tr role="row">
                            <th role="columnheader" scope="col" class="table-columnheader">Treatment ID</th>
                            <th role="columnheader" scope="col" class="table-columnheader">Start date</th>
                            <th role="columnheader" scope="col" class="table-columnheader">End date</th>
                            <th role="columnheader" scope="col" class="table-columnheader">Cost (£)</th>
                            <th role="columnheader" scope="col" class="table-columnheader">Status</th>
                            <th role="columnheader" scope="col" class="table-columnheader">Processed date</th>
                            <th role="columnheader" scope="col" class="table-columnheader">Action</th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Treatment ID</span>
                              <p id="treatment-id">558761004</p>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Start date</span>
                              <p id="treatment-start-date">04/11/2025</p>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">End date</span>
                              <p id="treatment-end-date">04/11/2025</p>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Cost (£)</span>
                              <p id="treatment-cost">100.00</p>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Status</span>
                              <strong id="treatment-status" class="nhsuk-tag no-caps nhsuk-tag--green">Processed</strong>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Processed date</span>
                              <p id="treatment-processed-date">04/11/2025</p>
                            </td>
                            <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Action</span>
                            </td>
                        </tr>
                      </tbody>
                    </table>

                </div>
                <p class="nhsuk-u-margin-top-4">
                  <a id="views-ehic-details" href="view-ehic-details-johndoe">View EHIC details
                    <span class="nhsuk-u-visually-hidden">&nbsp;</span>
                    <span class="nhsuk-u-visually-hidden">with expiry date 31/12/2025</span>
                  </a>
                </p>

            </div>
          </details>
        </div>
        <!-- End of EHIC expander -->

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Add Treatment</button>
      
      </div>

      </fieldset>

    </form>

</div>
{% endblock %}
