{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Are you sure that this treatment runs over 2 fiscal years? - Reporting overseas
visitor treatments - NHSBSA
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <span class="nhsuk-caption-l" style="margin-top: 20px;">
                Treatment details
            </span>

            <form action="" method="post">
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            Treatment dates overlap 2 fiscal years (2021 and 2022)
                        </h1>
                    </legend>

                    <div class="nhsuk-hint" id="example-hint" style="padding-top:20px">
                        The start and end dates you have keyed for this treatment (23/03/2021 to 10/04/2021) overlap 2 fiscal years.
                      </div>

                      <div class="nhsuk-checkboxes">

                        <div class="nhsuk-checkboxes__item">
                          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1" style="padding-top:0;">
                            I confirm that this is a continuous course of treatment using a single Malta Quota number.
                          </label>
                        </div>
                
                
                      </div>
                   
                </fieldset>

            </div>

            <div class="nhsuk-inset-text" style="margin-top:0;">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>If this is not the case either key the treatments for each year separately using 2 Malta Quota numbers or contact our Operations team for further advice.</p>
              </div>
<!-- <br />
              <p>If this is not the case either key the treatments for each year separately using 2 Malta Quota numbers or <a href="">contact our Operations team</a> for further advice.</p> -->


            <button class="nhsuk-button" type="submit">
                Continue
              </button>

              <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                Return to homepage
              </button>
            </form>
        </div>



        <p><a href="home">Cancel</a></p>
    </div>
</div>
{% endblock %}