{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Are you sure that this treatment runs over 2 fiscal years? - Reporting overseas
visitor treatments - NHSBSA
{% endblock %}

{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-form-group">
            <span class="nhsuk-caption-l" style="margin-top: 20px;">
                Treatment details
            </span>

            <form action="" method="post">
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            Treatment dates overlap 2 fiscal years (2021 and 2022)
                        </h1>
                    </legend>

                    <div class="nhsuk-hint" id="example-hint">
                        The start and end dates you have keyed for this treatment (23/03/2021 to 10/04/2021) overlap 2 fiscal years.
                      </div>

                      <p><strong>Do you confirm that this is a continuous course of treatment using a single Malta Quota number?</strong></p>

                      <div class="nhsuk-radios">

                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                            Yes
                          </label>
                        </div>
                  
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                            No, you can contact our operations team to ask for further advice
                          </label>
                        </div>
                  
                      </div>


                   
                </fieldset>

            </div>
<br />


            <button class="nhsuk-button" type="submit">
                Continue
              </button>


            </form>
        </div>



        <p><a href="home">Cancel</a></p>
    </div>
</div>
{% endblock %}