{% extends 'layout.html' %}
{% block pageTitle %}
Reset password
{% endblock %}
{% block beforeContent %}    
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Beta
         </strong>
         <span class="app-phase-banner__text">
         This is a new service - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Reset your password
        </h1>
      </legend>
      
      <span class="nhsuk-hint">
        Your password must be between 6 and 12 characters long and contain at least one numeric digit, one lowercase letter, and one uppercase letter.
      </span>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="newPassword">
          New password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="newPassword" name="newpassword" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="confirmPassword">
          Confirm Password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="confirmPassword" name="confirmpassword" type="text"> <br>
      </div>
    </fieldset>

    <a class="nhsuk-button" href="reset-pw-success">Reset password</a>
   </div>
</div>
{% endblock %}
