{% extends 'layout-with-login.html' %}

{% block pageTitle %}
  Confirmation that EHIC treatment form is pending
{% endblock %}



{% block content %}
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
           <h2>Institution details are yet to be approved</h2>
           <ul>
             <li> Once the institution details have been approved by the operations team, your treatment form will be processed.</li>
             <li> So the treatment form for Maria Rodríguez is flagged and the entitlement is set to pending status.</li>
             <li> The treatment ID generated for this treatment is <b>63878</b>.</li>
           </ul>
           <a class="nhsuk-button" href="home">Back to home</a>

    </div>
  </div>
{% endblock %}
