{% extends 'layout-with-login.html' %}

{% block pageTitle %}
Treatment form processed - Reciprocal, Bilateral and Quota agreement details - Overseas visitor treatment - NHSBSA
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4" style="background-color: white;">

        <h1 style="font-size:40px;" class="nhsuk-panel__title">
            Treatment form processed for John Camilleri
          </h1>

          <div class="nhsuk-panel__body">
            Treatment ID
            <br>
            <strong>63878</strong>
          </div>

      </div>

      <p>
        The treatment form is processed and sent to the operations team.
      </p>

      <form action="" method="post">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">
                Add another treatment
              </h2>
            </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="samePerson" name="another" type="radio" value="same person">
                  <label class="nhsuk-label nhsuk-radios__label" for="samePerson">
                    For John Camilleri
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="differentPerson" name="another" type="radio" value="different person">
                  <label class="nhsuk-label nhsuk-radios__label" for="differentPerson">
                    For a different person
                  </label>
                </div>
      
              </div>
          </fieldset>
        </div> 
           
        <button class="nhsuk-button" style="margin-right: 20px;" type="submit">
          Continue
        </button>
        <a class="nhsuk-button nhsuk-button--secondary" href="">Back to home page</a>

      </form>

       

    </div>
  </div>
{% endblock %}
