{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Reports - Reporting overseas visitor treatments - NHSBSA
{% endblock %}



{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home2">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Reports</li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="home">Back to home page</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
<form action="rh-quota-reports-filter" method="post">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl ">Reports - RH ROW Quota treatments</h1>
    <h1 class="nhsuk-heading-l ">Filter and download your report as a spreadsheet</h1>
   

    <span class="nhsuk-hint nhsuk-u-margin-bottom-4">
      You can use the filters here to narrow your search and find details of treatments within your trust.
    </span>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="startDate">
        Start date
      </label>
      <span class="nhsuk-hint">
        For example, 21/03/2019
      </span>
      <input class="nhsuk-input nhsuk-input--width-10" id="startDate" name="startDate" type="text">
    </div>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="EndDate">
        End date
      </label>
      <span class="nhsuk-hint">
        For example, 21/05/2019
      </span>
      <input class="nhsuk-input nhsuk-input--width-10" id="endDate" name="endDate" type="text">
    </div>

    <div class="nhsuk-form-group select-inline">
      <label class="nhsuk-label" for="select-1">
        Country of issue
      </label>
      <span class="nhsuk-hint">
        For example, Montserrat
      </span>
      <select class="nhsuk-select" id="country" name="country">
        <option value="">Select country</option>
        <option value="Anguilla">Anguilla</option>
        <option value="British Virgin Islands">British Virgin Islands</option>
        <option value="Montserrat">Montserrat</option>
        <option value="Saint Helena">Saint Helena</option> 
        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>                                                    
        </select>
    </div>
    
    <br>
    <button class="nhsuk-button" type="submit">
      Apply filters
    </button>

  </div>
</div>

<!--15 09 2022 - Elaine Russell - Code removed from prototype so the layout can remain consistent with the existing reports page - suggested this gets added to the backlog -->
<!-- <div class="row">
  <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>For Malta Quota reports please visit the <a href="reports-malta">Malta Quota reports page</a>.</p>
  </div>
</div> -->

<br>

 </div>
</div>
{% endblock %}
