{% extends 'layout-with-login-ops-style.html' %}
{% block pageTitle %}
Home
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper app-hero__wrapper">
          <h2 class="nhsuk-heading-s" style="margin-bottom: 10px">Lancashire Teaching Hospitals NHS Foundation Trust</h2>
          <h1 class="nhsuk-heading-l">Submit treatment costs for patients from the EU, Switzerland, Norway, Iceland and Liechtenstein, as well as RH General countries (TBC)</h1>
          <h2 class="nhsuk-body-m nhsuk-u-margin-bottom-3">Add details of an EHIC, PRC, S2/E112 Malta Quota, or RH General treatment</h2>
            <button onclick="window.location.href='rhg-add-treatment';" class="nhsuk-button nhsuk-button--reverse" href="rhg-add-treatment" style="margin-bottom:0" >Add treatment</button>
            <button onclick="window.location.href='search-person';" class="nhsuk-button nhsuk-button--reverse" href="search-person" style="margin-left:25px; margin-bottom:0">Search for person</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}
<section> 
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row nhsuk-card-group">
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="process-draft-treatments">Draft treatments</a><span class="notification-badge" style="background-color: #005eb8">14</span></h2>
              <ul>
                  <li>2 EHIC</li>
                  <li>4 PRC</li>
                  <li>3 S2/E112</li>
                  <li>5 RH General</li>
              </ul>
          </div>
        </div>
      </div>
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Messages</a><span class="notification-badge" style="background-color: #005eb8">2 new</span></h2>
            <p class="nhsuk-card__description">Send messages and view all your conversations with the overseas visitor team.</p>
          </div>
        </div>
      </div>

    </div>
  
  </div>
</section>

<section> 
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row nhsuk-card-group">


      <div class="nhsuk-grid-column-full nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">Reports</h2>
            <p class="nhsuk-card__description">Customise your reports to meet your requirements.</p>
            <ul>
                <li><a href="reports">EHIC, PRC, S2/E112</a></li>
                <li><a href="reports-malta">Malta Quota</a></li>
                <li><a href="#">RH General</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>

<section>
  <div class="nhsuk-width-container">
    <h3  class="nhsuk-heading-l" style="margin-bottom:45px">Existing treatments for September 2022</h3>
    
      <div class="nhsuk-grid-row nhsuk-card-group">
        <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">EHIC</h2>
              <p class="nhsuk-card__description data-item-large">20</p>
                <p>treatments</p>
                 <p class="nhsuk-card__description data-item-medium">£20,292.11</p>
                <p> total cost</p>
​
            </div>
          </div>
        </div>
  
        <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">PRC</h2>
              <p class="nhsuk-card__description data-item-large">17</p>
                <p>treatments</p>
                 <p class="nhsuk-card__description data-item-medium">£10,425.45</p>
                <p> total cost</p>
​
            </div>
          </div>
        </div>

          <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-s">S2/E112</h2>
              <p class="nhsuk-card__description data-item-large">12</p>
                <p>treatments</p>
                <p class="nhsuk-card__description data-item-medium">£8,345.11</p>
                <p> total cost</p>
​
            </div>
          </div>
        </div>


       </div>
​
      </div>
</section>

{% endblock %}
