{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="CheckYourAnswers">
        Check these details before submitting the treatment form
      </label></h1>

      <h3>Treatment details</h3>

      <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name of trust
        </dt>
        <dd class="nhsuk-summary-list__value">
          NHS Newcastle East
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name of hospital
        </dt>
        <dd class="nhsuk-summary-list__value">
          Newcastle General
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            10/07/2020
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Treatment end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            01/08/2020
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
            </a>
          </dd>
        </div>
  
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost
        </dt>
        <dd class="nhsuk-summary-list__value">
          £10,900.00
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
  
    </dl>

    <dl class="nhsuk-summary-list">
     <h3>RH Quota details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Quota number
        </dt>
        <dd class="nhsuk-summary-list__value">
          20/21-001
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state
        </dt>
        <dd class="nhsuk-summary-list__value">
          Sweden
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Reference Number
        </dt>
        <dd class="nhsuk-summary-list__value">
          1234567
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

        <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Caven
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Given names
        </dt>
        <dd class="nhsuk-summary-list__value">
          Douglas
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          06/12/1988
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="#">
          </a>
        </dd>
      </div>
 
    </dl>

  <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.</p>
  
  <a style="margin-right: 20px;" class="nhsuk-button" href="rhq-confirmation">Submit</a>
  <a class="nhsuk-button nhsuk-button--secondary" href="rhg-home">Save as draft</a>

  <p><a href="rhg-home">Cancel</a></p>
 </div>
</div>
{% endblock %}
