{% extends 'layout-with-login-rhq-style.html' %}
{% block pageTitle %}
Check patient details – Rest of World Quota - Manage overseas entitlements and treatments - NHSBSA
{% endblock %}



{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="CheckYourAnswers">
        Check these details before submitting the treatment
      </label>
    </h1>

    <h3>Treatment details</h3>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name of trust
        </dt>
        <dd class="nhsuk-summary-list__value">
          <!-- {{ data['rhq-trust'] }} -->
          Aintree University Hospital NHS Foundation Trust
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-name-of-trust-from-cya">Change<span class="nhsuk-u-visually-hidden">trust</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-start-day'] }}/{{ data['rhq-start-month'] }}/{{ data['rhq-start-year'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-treatment-start-date-from-cya">Change<span class="nhsuk-u-visually-hidden">treatment start
              date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-end-day'] }}/{{ data['rhq-end-month'] }}/{{ data['rhq-end-year'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-treatment-end-date-from-cya">Change<span class="nhsuk-u-visually-hidden">treatment end
              date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment cost (£)
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-cost'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-treatment-cost-from-cya">Change<span class="nhsuk-u-visually-hidden">treatment cost</span>
          </a>
        </dd>
      </div>

    </dl>
    <h3>Non-EU Reciprocal Healthcare (Quota) details</h3>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Country
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['quota-country'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-country-from-cya">
            Change<span class="nhsuk-u-visually-hidden"> reference number</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Quota number
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-quotaNumber'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-quota-number-from-cya">
            Change<span class="nhsuk-u-visually-hidden"> quota number</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-name'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-patient-details">
            Change<span class="nhsuk-u-visually-hidden"> treatment end date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Given names
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-givenName'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-patient-details">
            Change<span class="nhsuk-u-visually-hidden"> treatment end date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['rhq-dob-day'] }}/{{ data['rhq-dob-month'] }}/{{ data['rhq-dob-year'] }}
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="rhq-patient-details">
            Change<span class="nhsuk-u-visually-hidden"> treatment end date</span>
          </a>
        </dd>
      </div>

    </dl>

    <p>If you select submit, you are confirming that these details are correct to the best of your knowledge.
      If the details are provisional select <strong>Save as draft.</p>
    </p>

    <a style="margin-right: 20px;" class="nhsuk-button" href="rhq-confirmation">Submit</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="rh-quota-save-as-draft-confirmation">Save as draft</a>

    <p><a href="rhq-cancel-confirmation">Cancel</a></p>
  </div>
</div>
{% endblock %}