{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Patient details
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      Rest of World Quota agreement details
    </span>

    <form action="rhq-check-your-answers-sec2" method="post">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What are the patient's details?
        </h1>
      </legend>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Country
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="member-state" name="member-state" type="text" value="Anguilla" disabled>
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Reference
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          This is the patient's reference. For example, ABC1234567
        </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="name" name="name" type="text" value="{{ data['ref-no'] }}">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="name">
          Name
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          This is the patient's last name (family name or surname). For example, Smith
        </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="name" name="name" type="text" value="{{ data['firstName'] }}">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="givenName">
          Given names
        </label>
        <div class="nhsuk-hint" id="example-with-hint-text-hint">
          These are the patient's first names. For example, Phillip John
        </div>
        <input class="nhsuk-input nhsuk-input--width-20" id="givenName" name="givenName" type="text" value="{{ data['givenName'] }}">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="dateOfBirth">
          Date of birth
        </label>

        <div class="nhsuk-hint" id="hint">
          For example, 15 12 1984
        </div>
    
        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-dd">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-dd" name="dob-dd" type="number" pattern="[0-9]*" value="{{ data['dob-dd'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-mm">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-mm" name="dob-mm" type="number" pattern="[0-9]*" value="{{ data['dob-mm'] }}">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="dob-yyyy">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-yyyy" name="dob-yyyy" type="number" pattern="[0-9]*" value="{{ data['dob-yyyy'] }}">
            </div>
          </div>
        </div>

      </div>
    </fieldset>

    <button class="nhsuk-button" type="submit">
      Continue
    </button>
    <p><a href="search">Cancel</a></p>
    </form>

 </div>
</div>
{% endblock %}
