<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout-sidebar.html -->
{% extends 'layout-sidebar.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Search person page
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<!--start breadcrumb-->
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item">Search (Person)</li>
        </ol>
      </div>
    </div>
  </div>
</nav>
<!--end breadcrumb-->
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <h1 class="nhsuk-heading-xl">
                Search for person or treatment
              </h1>
            </div>
          </div>

          <!--start secondary navigation-->
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5;">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" aria-current="page" href="search">Person</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="search-treatment-id">Treatment ID</a>
              </li>

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="search-person-id">Person ID</a>
              </li>
            </ul>
          </nav>
          <!--end secondary navigation-->

          <hr style="border-bottom:1px solid #ccc; margin:0">
          <br><br>
          <p>Enter at least 2 pieces of information, then select Search.</p>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="first-names">
                  First names (Given names or forenames)
                </label>
                <div class="nhsuk-hint" id="first-names-hint">
                  For example, ph or Phillip
                </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="first-names" name="first-names" type="text">
              </div>
            </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="last-name">
                  Last name (Name or surname)
                </label>
                <div class="nhsuk-hint" id="last-name-hint">
                  For example, sm or Smith
                </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="last-name" name="last-name" type="text">
              </div>
            </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                  <label class="nhsuk-label" for="dob">
                    Date of birth
                  </label>
                  <div class="nhsuk-hint" id="dob-hint">
                    For example, 15 10 1984
                  </div>
                  <div class="nhsuk-date-input" id="dob-dd">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-dd">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-dd"
                          name="dob-dd" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-mm">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-mm"
                          name="dob-mm" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dob-yy">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-yy"
                          name="dob-yy" type="number" pattern="[0-9]*" value="">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="country">
                  Entitlement country
                </label>
                <div class="nhsuk-hint" id="country-hint">
                  For example, France
                </div>
                <input class="nhsuk-input nhsuk-input--width-20" id="country" name="country" type="text"
                  value="Enter country">
              </div>
            </div>
          </div>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <a href="search-results-person">
                <button class="nhsuk-button nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-2" type="submit">
                  Search
                </button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--start left navigation-->
    <div class="nhsBSA-sidebar-nav">
      <div class="side-nav">
        <ul>
          <div id="options" class="options">
            <h3 class="nhsuk-heading-xs">Browse</h3>
            <li>
              <a href="search" class="active">Search</a>
            </li>
            <h3 class="nhsuk-heading-xs">Actions</h3>
            <li>
              <a href="">Account requests<span class="notification-badge" style="background-color: #005eb8">2
                </span></a>
              <a href="">Review treatments<span class="notification-badge" style="background-color: #005eb8">4
                </span></a>
              <a href="#">Pending entitlements<span class="notification-badge"
                  style="background-color: #005eb8">3 </span></a>
              <a href="#">UK claims</a>
              <a href="#">Resubmissions<span class="notification-badge" style="background-color: #005eb8">4
                  <a href="rhq-name-of-trust">Rest of World (ROW) Quota
            </li>
          </div>
        </ul>
      </div>
    </div>
    <!--end left navigation-->
  </div>
  {% endblock %}