{% extends 'layout.html' %}
{% block pageTitle %}
Sign in
{% endblock %}

{% block content %}
<style>
  .vl {
    border-left: 1px solid #D8DDE0;
    height: 150px;
    position: absolute;
    left: 43%;
    top: 20;
  }
</style>

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <!--<div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3>Overseas visitor manager</h3>
        <a class="nhsuk-button" href="ovm-sign-in">Start</a> 
      </div>
      <div class="vl"></div>
      <div class="nhsuk-grid-column-one-half">
        <h3>Operations team</h3>
        <a class="nhsuk-button nhsuk-button--secondary" href="admin-sign-in">Start</a>
      </div>
    </div> -->
    <h3>Get started</h3>
    <a style="margin-right: 20px;" class="nhsuk-button" href="ovm-sign-in">Overseas visitor manager</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="admin-sign-in">NHSBSA cost recovery team</a>

  </main>
</div>
{% endblock %}
