{% extends 'layout.html' %}
{% block pageTitle %}
Search institution
{% endblock %}

{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo nhsuk-header__logo--only"><a class="nhsuk-header__link nhsuk-header__link--service " href="home" aria-label="Overseas visitor treatment portal homepage">
        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
        </svg>
        <span class="nhsuk-header__service-name">
          Overseas visitor treatment
        </span>
      </a>
    </div>

    <div class="nhsuk-header__content" id="content-header">
      <p style="color: #ffffff; font-size: 16px; margin-top: 10px; margin-bottom: 0px">Signed in as Paul Mathew (<a style="color: #ffffff;" href="sign-in">Sign out</a>)</p>
    </div>
  </div>

</header>
{% endblock %}

{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      PRC details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What is the identification number of the institution in Spain?
        </h1>
      </legend>
      <span class="nhsuk-hint" id="hint">
        The institution ID and acronym are present in field 7 on the PRC.
      </span>
      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="institutionID">
          Institution ID
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="institutionID" name="inscode" type="text" value="0819">
      </div>
    
      <p>or<br></p>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="institutionAcronym">
          Institution Acronym
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="institutionAcronym" name="insname" type="text">
      </div>

     
    </fieldset>

    <a style="margin-right: 20px;" class="nhsuk-button" href="#result">Search</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>
    <p><a href="home">Cancel</a></p>
  </div>

  <div class="nhsuk-grid-column-one-third">
    <img src="/images/sample.png" alt="PRC sample" style="width:480px; height:550px; padding-top:100px; padding-left: 50px; padding-right:100px;">
  </div> 

  <div class="nhsuk-grid-column-full">
    
    <br>
    <h3 id="result">1 result found</h3>
    <div class="nhsuk-hint">
      Select the correct institution to continue.
    </div>

    <div class="nhsuk-table-responsive">
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Institution search results</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">Institution ID</th>
            <th class="nhsuk-table__header" scope="col">Institution acronym</th>
            <th class="nhsuk-table__header" scope="col">Institution name</th>
            <th class="nhsuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
    
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">0819</td>
            <td class="nhsuk-table__cell ">HRSM</td>
            <td class="nhsuk-table__cell ">Health regional service of Murica</td>
            <td class="nhsuk-table__cell "><a href="check-your-answers-prc-aat">Select</a></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>
{% endblock %}
