{% extends 'layout.html' %}
{% block pageTitle %}
Sign in
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Claim for treatment costs for patients from European Economic Area(EEA) countries or Switzerland
        </h1>
      </legend>
      <p>Already have an account?</p>
      <a class="nhsuk-button nhsuk-button" style="margin-bottom: 2px;" href="#">Sign in</a>

      <hr>
 
      <p>Don't have an account?</p>
      <a class="nhsuk-button nhsuk-button--secondary" href="request-account">Request account</a>

   </div>
</div>
{% endblock %}
