{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Address details
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <span class="nhsuk-caption-l">
      Address details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Maria Rodríguez's address in Spain
        </h1>
      </legend>
      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="addressLine1">
          Address line 1 
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine1" name="address-line-1" type="text" value="3A Calle de las Huertas">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="addressLine2">
          Address line 2 (optional)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine2" name="address-line-2" type="text" value="28005 Madrid">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="addressLine3">
          Address line 3 (optional)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine3" name="address-line-3" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="country">
          Country
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="country" name="country" type="text" value="Spain" disabled>
      </div>
    
    </fieldset>

    <a style="margin-right: 20px;" class="nhsuk-button" href="check-your-answers-ehic-sec2">Continue</a>
    <a class="nhsuk-button nhsuk-button--secondary" href="save-as-draft-confirmation">Save as draft</a>

    <p><a href="home">Cancel</a></p>

 </div>
</div>
{% endblock %}
