{% extends 'layout.html' %}
{% block pageTitle %}
Create password
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Create your password
        </h1>
      </legend>
      
      <span class="nhsuk-hint">
        Your password must be between 6 and 12 characters long and contain at least one numeric digit, one lowercase letter, and one uppercase letter.
      </span>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="emailAddress">
          Password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailaddress" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="password">
          Confirm Password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="text"> <br>
      </div>
    </fieldset>

    <a class="nhsuk-button" href="create-pw-success">Create password</a>
   </div>
</div>
{% endblock %}
