{% extends 'layout-with-login-multi-trust-4.html' %}
{% block pageTitle %}
Treatment form processed - Report overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/pin-surfacing/confirmation-s2-treatment-processed" method="post">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
        <h1 style="font-size:40px;" class="nhsuk-panel__title">
            Treatment form processed for {{ data['s2-first-names'] or 'John' }} {{ data['s2-last-name'] or 'Doe' }}
        </h1>

        <div class="nhsuk-panel__body">
          Treatment ID
          <br>
          <strong>558762747</strong>
        </div>
      </div>

      <p>The treatment form has been processed and sent to the operations team.</p>
      
      <button style="margin-top: 10px;" class="nhsuk-button" type="submit">Back to home</button>
        
    </form>
       
    </div>
  </div>
{% endblock %}
