{% extends 'layout-with-login-multi-trust-4.html' %}
{% block pageTitle %}
Search for the identification number of the institution - Report overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/pin-surfacing/s2-search-for-institution-id" method="post">

    <span class="nhsuk-caption-l" style="margin-top: 20px;">
      S2/E112 details
    </span>
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Search for the identification number of the institution in {% if data['entitlement-registration-country'] %}{{ data['entitlement-registration-country'] }}{% else %}Austria (AT){% endif %}
        </h1>
      </legend>
    </fieldset>

    <!--start secondary navigation-->
    <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation" style="background-color:#f0f4f5; margin-bottom: 20px;">
      <ul class="nhsuk-secondary-navigation__list">
        <li class="nhsuk-secondary-navigation__item">
          <a class="nhsuk-secondary-navigation__link" aria-current="page" href="s2-search-for-institution-id">Identification number</a>
        </li>

        <li class="nhsuk-secondary-navigation__item">
          <a class="nhsuk-secondary-navigation__link" href="s2-search-for-institution-name">Institution Name</a>
        </li>
      </ul>
    </nav>
    <!--end secondary navigation-->

      <div class="nhsuk-hint">
        <p>Search for the institution using the first 3 characters or more of the institution code. This is found in field 7 of a S2/E112.</p>
        <p>The code may be at the beginning or end of the institution name field.<br>
            For example:</p>
        
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>if the institution is SSN-MIN SALUTE - 500001, search for code 500001 or the first three characters 500.</li>
          <li>if the institution is WF07 - NFZ Warszawa, search for code WF07 or the first three characters WF0.</li>
        </ul>        
      </div>

    </div>

    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-inset-text" style="margin-top: 10px;">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <b><p>This must be an overseas member state institution.</p></b>
        <p>Do not use either of the UK institution codes 001-DWP or UK021.</p>
      </div>
      
      <div class="nhsuk-form-group">
        <input class="nhsuk-input nhsuk-input--width-20" style="margin-top: -10px; margin-bottom: 10px;" id="s2-institution-id" name="s2-institution-id" type="text">
      </div>

      <div class="button-container" style="margin-top: 10px;">
        <a href="s2-search-for-institution-id-results" class="nhsuk-button" style="margin-right:20px;" role="button" type="submit">Search</button>
        <a href="save-as-draft-confirmation" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" role="button">Save as draft</a>
      </div>
        
    <p><a href="cancel-confirmation">Cancel</a></p>

    </form>
    
 </div>
</div>
{% endblock %}
