{% extends 'layout-with-login-multi-trust-4.html' %}
{% block pageTitle %}
Upload a copy of the PRC - Report overseas visitor treatments - NHSBSA
{% endblock %}



{% block content %}

{{ backLink({
  "href": "javascript:history.go(-1)",
  "text": "Back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/pin-surfacing/upload-prc" method="post">

      <div class="nhsuk-form-group nhsuk-file-upload" data-module="nhsuk-file-upload">
        <span class="nhsuk-caption-l" style="margin-top: 20px;">
          PRC details
        </span>
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--l" for="file-hint">
            Upload a copy of the PRC (optional)
          </label>
        </h1>

        <div class="nhsuk-inset-text" style="margin-top: 40px; margin-bottom: 40px;">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>A copy of the entitlement may be needed if the member state requests it. Uploading it now will save time later if a copy is requested.</p>
        </div>
  
        <div class="nhsuk-hint">
          The selected file must be a PDF, BMP, PNG, JPG or JPEG and must be smaller than 10MB.
        </div>

        <input class="nhsuk-file-upload__input" id="file-hint" name="file-hint" type="file">
      </div>
      
    <button class="nhsuk-button" style="margin-top: 20px;" data-module="nhsuk-button" type="submit">Continue</button>

    <p><a href="cancel-confirmation">Cancel</a></p>

    </form>

 </div>
</div>
{% endblock %}
