{% extends 'layout-with-login-multi-trust-4.html' %}
{% block pageTitle %}
S2/E112 details - Report overseas visitor treatments - NHSBSA
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="search-person">Search (Person)</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="treatment-record-johndoe">View record</a></li>
      <li class="nhsuk-breadcrumb__list-item">s2 details</li>
    </ol>
    <a class="nhsuk-back-link" href="treatment-record-johndoe">
      <span class="nhsuk-u-visually-hidden">Back to </span>
      View record (John Doe)
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <form action="/pin-surfacing/view-s2-details-johndoe" method="post">

      
      <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          S2/E112 details for John Doe
        </h1>
      </legend>



      <h3>Personal details of the holder</h3>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Issuing member state
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['entitlement-registration-country'] or 'Austria (AT)' }}
          </dd>
          <dd class="nhsuk-summary-list__actions">

          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['s2-last-name'] or 'Doe' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Given names
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['s2-first-names'] or 'John' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
          Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['s2-date-of-birth'] or '13/12/1994' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Personal identification number
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['new-s2-pin'] or '1234567890' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>


      <h3>Validity period of S2/E112</h3>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            S2/E112 start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['new-s2-start-date'] or '01/10/2025' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            S2/E112 end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['new-s2-end-date'] or '07/10/2025' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            S2/E112 issue date
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['new-s2-issue-date'] or '30/09/2025' }}
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>


      <h3>Institution completing the form</h3>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Institution ID
          </dt>
          <dd class="nhsuk-summary-list__value">
           1A00
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Institution name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Health Care Institution of the municipal civil servants of the City of Vienna
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Institution address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Schlesingerplatz 5, 1081 Vienna
          </dd>

          <dd class="nhsuk-summary-list__actions">
            
          </dd>
        </div>
      </dl>
  
      <div class="button-container" style="margin-top: 40px;">
        <button style="margin-right:20px;" class="nhsuk-button" type="submit">Back to record</button>
      </div>

      </fieldset>

    </form>

</div>
{% endblock %}
