{% extends 'layout.html' %}

{% block pageTitle %}
Cost recovery prototype
{% endblock %}

{% block beforeContent %}    
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it. <!-- mailto: lakshmi.karuppiah@nhs.net -->
         </span>
      </p>
   </div>
</div>
{% endblock %}  

{% block content %}
<h1>
   Cost Recovery Prototype
</h1>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB2 sprint 6
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Fourth iteration of institution testing</li> 
         <li>The OVM has to input the identification number of the institution as a single field for both EHIC and PRC.</li>
         <li>Enter details for S2 when institution is not found</li>
     </ul>

     <ul>
      <li><a href="sprint-15/search-no-results/add-treatment">Institution found - EHIC (104LR29 - SKAT)</a></li>
      <li><a href="sprint-15/search-no-results/institution-id-ehic-2">Institution found - EHIC (101520966 BKK Deutsche BP)</a></li>
      <li><a href="sprint-15/search-no-results/add-treatment">Institution found - PRC (1029-SKAT)</a></li>
      <li><a href="sprint-15/search-no-results/add-treatment">Institution found - S2</a></li>
      <li><a href="sprint-15/search/treatment-start-date-ehic-2">No instituion found - EHIC (1029SKAT)</a></li>
      <li><a href="sprint-15/search/institution-id-s2">No instituion found - S2</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB2 sprint 5
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <h6>Private beta testing changes</h6>
         <li>Content changes for institution pages</li> 
         <li>Changed institution acronymn to appear first</li>
         <li>Added institution name for PRC and S2.</li>  
         <li>Added reference numbers for EHIC and PRC</li>
         <li>Removed disabled fields for add a new person flow</li>  
     </ul>

     <ul>
      <li><a href="sprint-14/search-no-results/add-treatment">EHIC, PRC and S2 flow - Search no results</a></li>
      <li><a href="sprint-14/search/add-treatment">EHIC, PRC and S2 flow - Search results</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB2 sprint 4
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added reason for cost above £10,000 and treatment dates beyond 6 months.</li> 
         <li>Combined parts of option 1 and 3 for instituition not found.</li>
         <li>Showing pending entitlement with flagged treatment</li>  
         <li>Content changes for institution screens</li>  
     </ul>

     <ul>
      <li><a href="sprint-13/search/add-treatment">Cost above £10,000</a></li>
      <li><a href="sprint-13/search/confirm-treatment-date-6mo">Treatment beyond 6 months</a></li>
      <li><a href="sprint-13/search/institution-entry-id-2">Instituition not found - pending status</a></li>
      <li><a href="sprint-13/search/person-record-view-ehic">Showing pending entitlement with flagged treatment</a></li>
      <li><a href="sprint-13/search-no-results/add-treatment">Content change for institution screens</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB2 sprint 3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Single file upload</li> 
         <li>Multiple file upload for S2 only if the treatment dates are beyond entitlement dates.</li> 
         <li>Upload a file page wise or as a single file</li> 
         <li>View single and multi page s2 file on search</li>
         <li>View EHIC and PRC while searching for a person</li>
         <li>Added reason for pending status</li>
     </ul>

     <ul>
      <li><a href="sprint-12/search-no-results/add-treatment">S2 flow - single file upload</a></li>
      <li><a href="sprint-12/search-no-results/type-of-upload-2">S2 flow - multi file upload</a></li>
      <li><a href="sprint-12/search-no-results/search-person">View single and multi page s2 file on search</a></li>
      <li><a href="sprint-12/search/search-person">Upload EHIC and PRC while searching for a person</a></li>
      <li><a href="sprint-12/search-no-results/add-treatment">Upload EHIC and PRC when adding a treatment</a></li>
      <li><a href="sprint-12/search/person-record-view-ehic">Reason for pending status</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB2 sprint 1 and 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>S2 flow entered by the OVM</li>
         <li>Able to view uploaded files in an EHIC/PRC/S2 flow or on search if it already exists in the system.</li>
         <li>File upload - View and upload multiple files</li>
         <li>Ordinary residence, duplicate treatment entry, additional costs, Institution not found, duplicate entitlement entry</li>  
     </ul>

     <ul>
      <li><a href="sprint-10/search-no-results/add-treatment">S2 flow - entered by OVM</a></li>
      <li><a href="sprint-10/search-no-results/search-person">View uploaded files</a></li>
      <li><a href="sprint-10/search/add-treatment">S2 flow - already entered by ops team</a></li>
      <li><a href="sprint-11/search/treatment-history-warning">Ordinary residence 1</a></li>
      <li><a href="sprint-11/search/or-warning">Ordinary residence 2</a></li>
      <li><a href="sprint-11/search/duplicate-treatment">Duplicate treatment entry</a></li>
      <li><a href="sprint-11/search/additional-cost">Additional costs</a></li>
      <li><a href="sprint-11/search/verify-cost">Additional costs 2</a></li>
      <li><a href="sprint-11/search/verify-cost-2">Additional costs 3</a></li>
      <li><a href="sprint-11/search/institution-entry">Instituition not found - pending status 1</a></li>
      <li><a href="sprint-11/search/institution-entry-id">Instituition not found - pending status 2</a></li>
      <li><a href="sprint-11/search/institution-entry-id-2">Instituition not found - pending status 3</a></li>
      <li><a href="sprint-11/search/duplicate-entitlement">Duplicate entitlement entry</a></li>
     </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Final
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Accessibility changes - removed nav bar, removed EHIC, PRC sample images, changed date format to three input format.</li>
         <li>Home page redesign</li>
     </ul>

     <ul>
      <li><a href="sprint-9/search/home">Oversears visitor treatment</a></li>
      <li><a href="sprint-9/search-no-results/home">EHIC/PRC flow - no results found on search</a></li>
     </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB1 sprint 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added S2 flow</li>
         <li>Content changes done in EHIC and PRC journeys and accounts page.</li>
         <li>Changes to EHIC and PRC journey - Search results show up on searching for a person, added caption</li>
         <li>Rare case scenarios</li>
         <li>Session expired and overlapping treatment dates added.</li>
         <li>Changes to report and search page - included searching with treatment ID, added different status across treatments and added Add treatment from the search page.</li>
     </ul>

     <ul>
      <h6>S2 flow</h6>
      <li><a href="https://xd.adobe.com/view/a3a20f59-e2a1-496c-8f81-a4f98d669218-f6f1/?fullscreen">S2 wireframe</a></li>
      <li><a href="sprint-8/search/home">S2 flow</a></li>
      <li><a href="sprint-8/search/malta-quota-number-s2">Malta quota number</a></li>
     </ul>
     
      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-8/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-8/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-8/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-8/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Search person and Reports</h6>
         <li><a href="sprint-8/search/reports">Reports</a></li>
         <li><a href="sprint-8/search/search-person">Search</a></li>
         <li><a href="sprint-8/search-no-results/search-person">Search with treatment ID</a></li>
      </ul>
      <ul>
         <h6>Rare case scenarios</h6>
         <li><a href="sprint-8/search/multiple-ehics-found">When multitple EHICS exist covering the treatment dates</a></li>
         <li><a href="sprint-8/search/search-half-name">When only few characters of the name are entered on searching for a person</a></li>
         <li><a href="sprint-8/search/institution-search-results">When only few characters of the institution acronym are entered on searching</a></li>
         <li><a href="sprint-8/search/institution-entry">Enter institution acronym</a></li>
         <li><a href="sprint-8/search/institution-entry-2">Enter institution ID</a></li>
         <li><a href="sprint-8/search/request-account-2">Select trust when requesting account</a></li>
      </ul>
      <ul>
         <h6>Errors, warnings and checks</h6>
         <li><a href="sprint-8/search/home">Session expired warning on homepage</a></li>
         <li><a href="https://xd.adobe.com/view/48a0263c-d70e-4c83-a342-e784a744ba6c-1df3/?fullscreen">Session expired warning dialog</a></li>
         <li><a href="sprint-8/search/session-expired">Session expired error</a></li>
         <li><a href="sprint-8/search/overlapping-treatment-dates">Overlapping treatment dates</a></li>
         <li><a href="sprint-8/search/cancel-confirmation">Cancel confirmation</a></li>
      </ul>
      <ul>
         <h6>Sign-in</h6>
         <li><a href="sprint-8/search/sign-in">Sign-in</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      PB1 sprint 1
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added accounts page. </li>
         <li>Changes to EHIC and PRC journey - removed residency check,added cancel button, added treatment details to check your answers page. </li>
         <li>Added error and warning pages.</li>
     </ul>
     
      <ul>
         <li><a href="sprint-7/search/account">Account</a></li>
         <li><a href="sprint-7/search/home#draft">Save as draft</a></li>
      </ul>
      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-7/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-7/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-7/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-7/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Error, warnings and checks</h6>
         <li><a href="sprint-7/search/service-unavailable">Problem with the service</a></li>
         <li><a href="sprint-7/search/duplicate-treatment">Duplicate treatment entry</a></li>
         <li><a href="sprint-7/search/treatment-history-warning">Ordinary residence warning</a></li>
         <li><a href="sprint-7/search/confirm-treatment-date-6mo">If treatment end date is beyond 6 months</a></li>
      </ul>
      <ul>
         <h6>Rare case scenarios</h6>
         <li><a href="sprint-7/search/institution-entry">Enter institution name</a></li>
         <li><a href="sprint-7/search/institution-entry-2">Enter institution code</a></li>
      </ul>
   </div>
 </details>


<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 6
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Created the reporting page with filters.</li>
         <li>Added save as draft option.</li>
     </ul>
   
      <ul>
         <li><a href="sprint-6/search/home#draft">Save as draft</a></li>
         <li><a href="sprint-6/search/reports">Reports</a></li>
         <li><a href="sprint-6/search/search-person">Search person</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 5
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Revised flow after user research and business approval.</li>
         <li>Added reset and create password flows and error page for sign in.</li>
     </ul>
   
      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-5/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-5/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-5/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-5/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Sign-in flows</h6>
         <li><a href="sprint-5/search/sign-in">Sign in</a></li>
         <li><a href="sprint-5/search/reset-password">Reset password</a></li>
         <li><a href="sprint-5/search/create-password">Create password</a></li>
         <li><a href="sprint-5/search/request-account-error">Request account error</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 4
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it does not already exist in the system.</li>
         <li>Created home page.</li>
     </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349625535889&cot=12">User Flow</a></li>
         <li><a href="https://xd.adobe.com/view/33aa55db-0d53-486d-83da-1d61facf8f8e-66f9/?fullscreen">Wireframes</a></li>
         <li><a href="sprint-4/sign-in">EHIC and PRC flow</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it already exists in the system.</li>
         <li>Removed sign in for operations team.</li>
     </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349546517716&cot=12">User Flow</a></li>
         <li><a href="https://xd.adobe.com/view/915ce38f-3ab3-44fc-89d8-3d4f715a276b-c40f/?fullscreen">Wireframes</a></li>
         <li><a href="sprint-3/add-treatment">EHIC and PRC flow</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
     <ul>
         <li>Did sign in flow variations, request account flow, create account.</li>
         <li>Created search forms and person record view.</li>
     </ul>
      <ul>
         <li><a href="sprint-2/sign-in">Sign in flow - variation 1</a></li>
         <li><a href="sprint-2/select-role">Sign in flow - variation 2</a></li>
         <li><a href="sprint-2/sign-in-2">Sign in flow - variation 3</a></li>
         <!--<li><a href="sprint-2/sign-in-4">Sign in flow - variation 4</a></li>
         <li><a href="sprint-2/ovm-sign-in-2">Sign in flow - variation 5</a></li> -->
         <br>
         <li><a href="sprint-2/search-person">Search forms</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 1
      </span>
   </summary>
   <div class="nhsuk-details__text">
     <ul>
      <li>Gave a basic structure to the portal.</li>
   </ul>
      <ul>
         <li><a href="sprint-1/sign-in">OVT portal</a></li>
      </ul>
   </div>
</details>

{% endblock %}
