{% extends 'layout.html' %}

{% block pageTitle %}
Cost recovery prototype
{% endblock %}

{% block beforeContent %}
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
            Prototype
         </strong>
         <span class="app-phase-banner__text">
            This is a prototype - your <a href="#">feedback</a> will help us improve it.
            <!-- mailto: lakshmi.karuppiah@nhs.net -->
         </span>
      </p>
   </div>
</div>
{% endblock %}

{% block content %}
<h1>
   Cost Recovery Prototype
</h1>

<!-- Upload and Delete - Douglas Caven Nov 2024-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         EHIC PIN number check (April 2025)
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">EHIC - PIN number check</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li>Search for person</li>
            <ul>
               <li><a href="final/search/person-record-view-ehic-pin">New inset text</a></li>
               <li><a href="final/search/search-person-results-pin">New column for PIN number</a></li>          
            </ul>
         <li>Add treatment-history-warning</li>
            <ul>
               <li><a href="final/search/details-ehic-pin">New inset text</a></li>        
            </ul>
      </ul>
   </div>
   
</details>

<!-- Upload and Delete - Douglas Caven Nov 2024-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         EHIC and PRC - Upload and Delete (November 2024)
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Upload View Delete - EHIC</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li>Section of prototype for upload, view and deletion of copy of EHIC</li>
         <ul>
            <li><a href="final/search-no-results/upload-ehic-for-delete">Start at upload of EHIC screen, through to CYA</a></li>     
         </ul>
      </ul>
   </div>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Upload View Delete - PRC</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li>Section of prototype for upload, view and deletion of copy of PRC</li>
         <ul>
            <li><a href="final/search-no-results/upload-prc-for-delete">Start at upload of PRC screen, through to CYA</a></li>     
         </ul>
      </ul>
   </div>
</details>

<!-- RH - Tarik Johnston Sep 2024-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Non-EU Reciprocal Healthcare (September 2024)
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Landing page (OPS) for ROW RH Quota journey</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li>Landing page (OPS) for ROW RH Quota</li>
         <ul>
            <!-- <li><a href="RH/search/home">New landing page for ROW Quota (Home page)</a></li> -->
            <li><a href="RH/search/home">No buttons, 3 cards. 2 cards are CTAs so should be buttons. Last card is for reports, nothing to do with patients.</a></li>     
         </ul>
      </ul>

      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Landing pages for both Non-EU Reciprocal Healthcare and Non-EU Reciprocal Healthcare (Quota) - Sept 2024</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <li><a href="RH/search/rhg-home">Existing landing page for Non-EU Reciprocal Healthcare</a></li>
         <li><a href="RH/search/search">New landing page for Non-EU Reciprocal Healthcare (Quota)</a></li>
      </ul>
   </div>
</details>
<!-- Definitive latest version of the Portal prototype -->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Latest version of the Portal prototype - May 2024
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <ul>
            <li><a href="final/search/home-new-font">Portal prototype</a></li>
         </ul>
      </ul>
   </div>
</details>

<!-- Definitive latest version of the Portal prototype -->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         May 2024 changes
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">COST-3894 - Add help text on institute search page for EHIC, PRC and S2.
         <br>COST-3820 - Change of ROVT heading content.
         <br>COST-3960 - Addition of country codes.</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <ul>
            <li><a href="final/search-no-results/institution-id-ehic-check-country">COST-3894 - EHIC</a></li>
            <li><a href="final/search-no-results/institution-no-results-prc-idno-check-country">COST-3894 - PRC</a></li>
            <li><a href="final/search-no-results/institution-no-results-s2-idno-check-country">COST-3894 - S2</a></li>
         </ul>
      </ul>
      <ul>
         <ul>
            <li><a href="final/search/home-new-font">COST-3820 - Change of ROVT title to 'Report overseas visitor treatments'</a></li>
         </ul>
      </ul>
      <ul>
         <ul>
            <li><a href="RH/search/rhq-country">COST-3960 - Addition of country codes</a></li>
         </ul>
      </ul>
   </div>
</details>

<!-- Date entry for reporting function - Douglas Caven - November 2023-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Changes following assessment (Sep 23) - January 2024
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Removal of content from Country field, and addition of hint text. 
         <br>Addition of content to advise “If yes, you should retain this copy for 3 years in case of any future contestation”</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <ul>
            <li><a href="final/search/country-ehic">Country field for EHIC</a></li>
            <li><a href="final/search/country-prc">Country field for PRC</a></li>
            <li><a href="final/search/country-s2">Country field for S2/E112</a></li>
            <li><a href="final/search/have-s2">Do you have a copy of the S2/E112?</a></li>
         </ul>
      </ul>
   </div>
</details>

<!-- Date entry for reporting function - Douglas Caven - November 2023-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Date entry for reporting function - November 2023
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">£ sign and numeric font reduction to accommodate maximum value. Date entry changes (EHIC, PRC, S2/E112) and (Malta
         Quota) for reporting function. </h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <li><a href="final/search/home-new-font">Landing page</a></li>
         <ul>
            <li>Reduced font on £ sign and numerics to accommodate maximum values</li>
            <li>Changed date entry to 3 separate boxes as per standard</li>
            <li>Repostioned date entry field to accommodate error message</li>
            <li>Added inset text for 'no data found' message</li>
            <li>Stadardised both functions with a 'Download Excel report' instead of Download link</li>
           
         </ul>
      </ul>
   </div>

</details>

<!-- Assessment Version - Robert Wilson and Douglas Caven - February 2023-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Assessment Version (February 2023) for 26 September 2023 assessment
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Updated Add Entitlement journeys (EHIC, PRC, S2/E112, Malta
         Quota), to match TST version</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <li><a href="final/search/home">Landing page</a></li>
         <ul>
            <li>Removed 'reason for cost over 10K' question from journey and CYA pages</li>
            <li>Many minor content changes to match TST</li>
            <li><b>Extra journey:</b> Searching for a Person, but no results found <a
                  href="final/search/search-ehic-results-no-results">(View screen)</a></li>
            <li><b>Extra journey:</b> Searching for a Insitution ID Number, but no results found <a
                  href="final/search-no-results/institution-search-ehic-no-results">(View screen)</a></li>
         </ul>
      </ul>

      <ul>
         <li>General changes:</li>
         <ul>
            <li>ALL cost entry fields now use '£' sign textbox (entire prototype)</li>
         </ul>
      </ul>
   </div>
   <hr style="margin-top:0; margin-bottom: 18px;">

   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Add reference number to EHIC and PRC journeys</h2>

         <ul>
            <li><b>EHIC journey: </b><a href="final/search/ehic-number-reference-search-person">(View screens)</a></li>
            <li><b>Search person with image of EHIC: </b><a href="final/search/ehic-fields-3-4-5-with-ehic-image">(View screen) - not used</a></li>
            <li><b>PRC journey: </b><a href="final/search/search-prc">(View screens)</a></li>
         </ul>

   </div>

</details>



<!-- RINA - Robert Wilson - May 2023-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         RINA Login and Landing pages (May 2023)
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Recreating RINA pages, in new design system</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <li><a href="RINA/login">Login page</a></li>
         <li><a href="RINA/case-search">Landing page (RINA Case search)</a></li>
      </ul>
   </div>

</details>

<!-- PB7 - Elaine Russell - September 2022-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB7 (December 2022)
      </span>
   </summary>
   <div class="nhsuk-details__text">

      <hr>
      <h2 class="nhsuk-heading-s">£ sign in block for cost entry field</h2>
      <ul>
         <li><a href="pb6/search/treatment-cost-ehic-gov-uk">Block with '£' sign in the cost field</a></li>
         </li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB7 (November 2022)
      </span>
   </summary>

   <div class="nhsuk-details__text">

      <hr>
      <h2 class="nhsuk-heading-s">Enhancing search person page</h2>
      <ul>
         <li><a href="pb7/search-person/sandbox/version-8-person-details">Tabs - Personal details first, content: First
               names (Given names or forenames)</a></li>
         </li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB7 (September 2022)
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <hr>
      <h2 class="nhsuk-heading-s">Addition of 'Add treatment' on search person page</h2>
      <ul>
         <li><a href="pb7/search-person/sandbox/version-6-no-results">As is</a></li>
         <li><a href="pb7/search-person/sandbox/version-7-no-results">With hint text</a></li>
      </ul>

      <hr>
      <h2 class="nhsuk-heading-s">Enhancing search person page</h2>
      <ul>
         <li><a href="pb7/search-person/sandbox/version-1">As is</a></li>
         <li><a href="pb7/search-person/sandbox/version-2">As per content review recommendation</a></li>
         <li><a href="pb7/search-person/sandbox/version-3-treatment-id">With tabs (treatment ID first)</a></li>
         <li><a href="pb7/search-person/sandbox/version-5-person-details">With tabs (person details first)</a></li>
         <li><a href="pb7/search-person/sandbox/version-4">With details expander</a></li>
         <li><a href="pb7/search-person/sandbox/version-8-person-details">Tabs - Personal details first, changes as
               per:</a></li>

         <ol>
            <li>Brian Brady - document - Content for Person search(27) - 2 Nov 22</li>
         </ol>
         </li>
      </ul>

      <hr>
      <h2 class="nhsuk-heading-s">Person record page</h2>
      <ul>
         <li><a href="pb7/search-person/sandbox/person-record-view-version-1">As is</a></li>
         <li><a href="pb7/search-person/sandbox/person-record-view-version-2">'Add treatment' button moved to top
               right</a></li>
      </ul>

      <hr>
      <h2 class="nhsuk-heading-s">Add new entitlement - PRC</h2>
      <ul>
         <li><a href="pb7/prc/details-prc">PRC details page</a></li>
         <ul>
            <li>Added 'Issue date' under 'Certificate details'</li>
         </ul>
      </ul>

   </div>



</details>

<!-- PB6 - Elaine Russell - August 2022-->
<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB6/PB7 - Malta Quota Treatments
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">PB6</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">

      <ul>
         <li><a href="pb6/search/home">Landing page</a></li>
         <ul>
            <li>Add new treatment - new quota number, new patient</li>
            <li>Card layout changed on landing page to allow for separate links for the different types of reports</li>
            <li>New screens added for the Malta Quota reports</li>
         </ul>
      </ul>

      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">PB7</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li><a href="pb6/search/home">Landing page</a></li>
         <ul>
            <li>Check if treatments overlap 2 financial years (in prototype use start date: 03)</li>
            <li>Search for existing quota number within the journey (in prototype use quota number: 22/23-100)</li>
            <li>Add additional treatment - same quota number, same patient</li>
            <li>Add additional treatment - new quota number, same patient</li>
            <li>Add Cancel link to 'Quota number: 22/23-100' page</li>
         </ul>
      </ul>

      <h2 class="nhsuk-heading-s" style="margin-bottom:0;">Additional resources</h2>
      <hr style="margin-top:0; margin-bottom: 18px;">
      <ul>
         <li><a href="https://miro.com/app/board/uXjVOkQKYDY=/?share_link_id=700083925352" target="_blank">Miro</a></li>
         <li><a href="https://bsa2468.atlassian.net/l/cp/aJiCeGtU" target="_blank">Confluence - PB6</a></li>
         <li><a href="https://bsa2468.atlassian.net/l/cp/0QRmxcvS" target="_blank">Confluence - PB7</a></li>
      </ul>
   </div>

</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Journey for Malta Quota</li>
         <li>Homepage showing Malta quota</li>
         <li>How Malta quota entitlement shows up on search</li>
      </ul>

      <ul>
         <li><a href="sprint-16/search/home">Add a Malta quota entitlement journey and add another treatment to the same
               Malta quota number</a></li>
         <li><a href="sprint-16/search/confirmation-malta-2">Add another treatment to the different Malta quota
               number</a></li>
         <li><a href="sprint-16/search/search-malta-results">Journey to adding a person with malta quota entitlement if
               not found on search</a></li>
         <li><a href="sprint-16/search/home-malta">Search for a malta quota entitlement</a></li>
         <li><a href="sprint-16/search/home">Malta Quota shown on homepage</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB2 sprint 6
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Fourth iteration of institution testing</li>
         <li>The OVM has to input the identification number of the institution as a single field for both EHIC and PRC.
         </li>
         <li>Enter details for S2 when institution is not found</li>
         <li>Due to the technical constraint on file upload a link to view the uploaded file is available on change.
         </li>
      </ul>

      <ul>
         <li><a href="sprint-15/search-no-results/upload-ehic-2">File upload (technical constraint on change link)</a>
         </li>
         <li><a href="sprint-15/search-no-results/add-treatment">Institution found - EHIC (104LR29 - SKAT)</a></li>
         <li><a href="sprint-15/search-no-results/institution-id-ehic-2">Institution found - EHIC (101520966 BKK
               Deutsche BP)</a></li>
         <li><a href="sprint-15/search-no-results/add-treatment">Institution found - PRC (1029-SKAT)</a></li>
         <li><a href="sprint-15/search-no-results/add-treatment">Institution found - S2</a></li>
         <li><a href="sprint-15/search/treatment-start-date-ehic-2">No instituion found - EHIC (1029SKAT)</a></li>
         <li><a href="sprint-15/search/institution-id-s2">No instituion found - S2</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB2 sprint 5
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <h6>Private beta testing changes</h6>
         <li>Content changes for institution pages</li>
         <li>Changed institution acronymn to appear first</li>
         <li>Added institution name for PRC and S2.</li>
         <li>Added reference numbers for EHIC and PRC</li>
         <li>Removed disabled fields for add a new person flow</li>
      </ul>

      <ul>
         <li><a href="sprint-14/search-no-results/add-treatment">EHIC, PRC and S2 flow - Search no results</a></li>
         <li><a href="sprint-14/search/add-treatment">EHIC, PRC and S2 flow - Search results</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB2 sprint 4
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added reason for cost above £10,000 and treatment dates beyond 6 months.</li>
         <li>Combined parts of option 1 and 3 for instituition not found.</li>
         <li>Showing pending entitlement with flagged treatment</li>
         <li>Content changes for institution screens</li>
      </ul>

      <ul>
         <li><a href="sprint-13/search/add-treatment">Cost above £10,000</a></li>
         <li><a href="sprint-13/search/confirm-treatment-date-6mo">Treatment beyond 6 months</a></li>
         <li><a href="sprint-13/search/institution-entry-id-2">Instituition not found - pending status</a></li>
         <li><a href="sprint-13/search/person-record-view-ehic">Showing pending entitlement with flagged treatment</a>
         </li>
         <li><a href="sprint-13/search-no-results/add-treatment">Content change for institution screens</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB2 sprint 3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Single file upload</li>
         <li>Multiple file upload for S2 only if the treatment dates are beyond entitlement dates.</li>
         <li>Upload a file page wise or as a single file</li>
         <li>View single and multi page s2 file on search</li>
         <li>View EHIC and PRC while searching for a person</li>
         <li>Added reason for pending status</li>
      </ul>

      <ul>
         <li><a href="sprint-12/search-no-results/add-treatment">S2 flow - single file upload</a></li>
         <li><a href="sprint-12/search-no-results/type-of-upload-2">S2 flow - multi file upload</a></li>
         <li><a href="sprint-12/search-no-results/search-person">View single and multi page s2 file on search</a></li>
         <li><a href="sprint-12/search/search-person">Upload EHIC and PRC while searching for a person</a></li>
         <li><a href="sprint-12/search-no-results/add-treatment">Upload EHIC and PRC when adding a treatment</a></li>
         <li><a href="sprint-12/search/person-record-view-ehic">Reason for pending status</a></li>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB2 sprint 1 and 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>S2 flow entered by the OVM</li>
         <li>Able to view uploaded files in an EHIC/PRC/S2 flow or on search if it already exists in the system.</li>
         <li>File upload - View and upload multiple files</li>
         <li>Ordinary residence, duplicate treatment entry, additional costs, Institution not found, duplicate
            entitlement entry</li>
      </ul>

      <ul>
         <li><a href="sprint-10/search-no-results/add-treatment">S2 flow - entered by OVM</a></li>
         <li><a href="sprint-10/search-no-results/search-person">View uploaded files</a></li>
         <li><a href="sprint-10/search/add-treatment">S2 flow - already entered by ops team</a></li>
         <li><a href="sprint-11/search/treatment-history-warning">Ordinary residence 1</a></li>
         <li><a href="sprint-11/search/or-warning">Ordinary residence 2</a></li>
         <li><a href="sprint-11/search/duplicate-treatment">Duplicate treatment entry</a></li>
         <li><a href="sprint-11/search/additional-cost">Additional costs</a></li>
         <li><a href="sprint-11/search/verify-cost">Additional costs 2</a></li>
         <li><a href="sprint-11/search/verify-cost-2">Additional costs 3</a></li>
         <li><a href="sprint-11/search/institution-entry">Instituition not found - pending status 1</a></li>
         <li><a href="sprint-11/search/institution-entry-id">Instituition not found - pending status 2</a></li>
         <li><a href="sprint-11/search/institution-entry-id-2">Instituition not found - pending status 3</a></li>
         <li><a href="sprint-11/search/duplicate-entitlement">Duplicate entitlement entry</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Final
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Accessibility changes - removed nav bar, removed EHIC, PRC sample images, changed date format to three
            input format.</li>
         <li>Home page redesign</li>
      </ul>

      <ul>
         <li><a href="sprint-9/search/home">Oversears visitor treatment</a></li>
         <li><a href="sprint-9/search-no-results/home">EHIC/PRC flow - no results found on search</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB1 sprint 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added S2 flow</li>
         <li>Content changes done in EHIC and PRC journeys and accounts page.</li>
         <li>Changes to EHIC and PRC journey - Search results show up on searching for a person, added caption</li>
         <li>Rare case scenarios</li>
         <li>Session expired and overlapping treatment dates added.</li>
         <li>Changes to report and search page - included searching with treatment ID, added different status across
            treatments and added Add treatment from the search page.</li>
      </ul>

      <ul>
         <h6>S2 flow</h6>
         <li><a href="https://xd.adobe.com/view/a3a20f59-e2a1-496c-8f81-a4f98d669218-f6f1/?fullscreen">S2 wireframe</a>
         </li>
         <li><a href="sprint-8/search/home">S2 flow</a></li>
         <li><a href="sprint-8/search/malta-quota-number-s2">Malta quota number</a></li>
      </ul>

      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-8/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-8/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-8/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-8/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Search person and Reports</h6>
         <li><a href="sprint-8/search/reports">Reports</a></li>
         <li><a href="sprint-8/search/search-person">Search</a></li>
         <li><a href="sprint-8/search-no-results/search-person">Search with treatment ID</a></li>
      </ul>
      <ul>
         <h6>Rare case scenarios</h6>
         <li><a href="sprint-8/search/multiple-ehics-found">When multitple EHICS exist covering the treatment dates</a>
         </li>
         <li><a href="sprint-8/search/search-half-name">When only few characters of the name are entered on searching
               for a person</a></li>
         <li><a href="sprint-8/search/institution-search-results">When only few characters of the institution acronym
               are entered on searching</a></li>
         <li><a href="sprint-8/search/institution-entry">Enter institution acronym</a></li>
         <li><a href="sprint-8/search/institution-entry-2">Enter institution ID</a></li>
         <li><a href="sprint-8/search/request-account-2">Select trust when requesting account</a></li>
      </ul>
      <ul>
         <h6>Errors, warnings and checks</h6>
         <li><a href="sprint-8/search/home">Session expired warning on homepage</a></li>
         <li><a href="https://xd.adobe.com/view/48a0263c-d70e-4c83-a342-e784a744ba6c-1df3/?fullscreen">Session expired
               warning dialog</a></li>
         <li><a href="sprint-8/search/session-expired">Session expired error</a></li>
         <li><a href="sprint-8/search/overlapping-treatment-dates">Overlapping treatment dates</a></li>
         <li><a href="sprint-8/search/cancel-confirmation">Cancel confirmation</a></li>
      </ul>
      <ul>
         <h6>Sign-in</h6>
         <li><a href="sprint-8/search/sign-in">Sign-in</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         PB1 sprint 1
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added accounts page. </li>
         <li>Changes to EHIC and PRC journey - removed residency check,added cancel button, added treatment details to
            check your answers page. </li>
         <li>Added error and warning pages.</li>
      </ul>

      <ul>
         <li><a href="sprint-7/search/account">Account</a></li>
         <li><a href="sprint-7/search/home#draft">Save as draft</a></li>
      </ul>
      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-7/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-7/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-7/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-7/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Error, warnings and checks</h6>
         <li><a href="sprint-7/search/service-unavailable">Problem with the service</a></li>
         <li><a href="sprint-7/search/duplicate-treatment">Duplicate treatment entry</a></li>
         <li><a href="sprint-7/search/treatment-history-warning">Ordinary residence warning</a></li>
         <li><a href="sprint-7/search/confirm-treatment-date-6mo">If treatment end date is beyond 6 months</a></li>
      </ul>
      <ul>
         <h6>Rare case scenarios</h6>
         <li><a href="sprint-7/search/institution-entry">Enter institution name</a></li>
         <li><a href="sprint-7/search/institution-entry-2">Enter institution code</a></li>
      </ul>
   </div>
</details>


<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 6
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Created the reporting page with filters.</li>
         <li>Added save as draft option.</li>
      </ul>

      <ul>
         <li><a href="sprint-6/search/home#draft">Save as draft</a></li>
         <li><a href="sprint-6/search/reports">Reports</a></li>
         <li><a href="sprint-6/search/search-person">Search person</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 5
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Revised flow after user research and business approval.</li>
         <li>Added reset and create password flows and error page for sign in.</li>
      </ul>

      <ul>
         <h6>EHIC and PRC flows</h6>
         <li><a href="sprint-5/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-5/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-5/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-5/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
      </ul>
      <ul>
         <h6>Sign-in flows</h6>
         <li><a href="sprint-5/search/sign-in">Sign in</a></li>
         <li><a href="sprint-5/search/reset-password">Reset password</a></li>
         <li><a href="sprint-5/search/create-password">Create password</a></li>
         <li><a href="sprint-5/search/request-account-error">Request account error</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 4
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it does not already exist in the system.</li>
         <li>Created home page.</li>
      </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349625535889&cot=12">User Flow</a>
         </li>
         <li><a href="https://xd.adobe.com/view/33aa55db-0d53-486d-83da-1d61facf8f8e-66f9/?fullscreen">Wireframes</a>
         </li>
         <li><a href="sprint-4/sign-in">EHIC and PRC flow</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it already exists in the system.</li>
         <li>Removed sign in for operations team.</li>
      </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349546517716&cot=12">User Flow</a>
         </li>
         <li><a href="https://xd.adobe.com/view/915ce38f-3ab3-44fc-89d8-3d4f715a276b-c40f/?fullscreen">Wireframes</a>
         </li>
         <li><a href="sprint-3/add-treatment">EHIC and PRC flow</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Did sign in flow variations, request account flow, create account.</li>
         <li>Created search forms and person record view.</li>
      </ul>
      <ul>
         <li><a href="sprint-2/sign-in">Sign in flow - variation 1</a></li>
         <li><a href="sprint-2/select-role">Sign in flow - variation 2</a></li>
         <li><a href="sprint-2/sign-in-2">Sign in flow - variation 3</a></li>
         <!--<li><a href="sprint-2/sign-in-4">Sign in flow - variation 4</a></li>
         <li><a href="sprint-2/ovm-sign-in-2">Sign in flow - variation 5</a></li> -->
         <br>
         <li><a href="sprint-2/search-person">Search forms</a></li>
      </ul>
   </div>
</details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
         Sprint 1
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Gave a basic structure to the portal.</li>
      </ul>
      <ul>
         <li><a href="sprint-1/sign-in">OVT portal</a></li>
      </ul>
   </div>
</details>

{% endblock %}