{% extends 'layout.html' %}

{% block pageTitle %}
Cost recovery prototype
{% endblock %}

{% block beforeContent %}    
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Prototype
         </strong>
         <span class="app-phase-banner__text">
         This is a prototype - your <a href="#">feedback</a> will help us improve it. <!-- mailto: lakshmi.karuppiah@nhs.net -->
         </span>
      </p>
   </div>
</div>
{% endblock %}  

{% block content %}
<h1>
   Cost Recovery Prototype
</h1>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 5
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Revised flow after user research and business approval</li>
     </ul>
      <ul>
         <li><a href="sprint-5/search/home">EHIC and PRC flow - search</a></li>
         <li><a href="sprint-5/search-no-results/home">EHIC and PRC flow - search no results</a></li>
         <li><a href="sprint-5/search-no-results/confirmation-ehic">Add another treatment to the same EHIC</a></li>
         <li><a href="sprint-5/search/confirmation-ehic">Add another treatment to a different EHIC or a new PRC</a></li>
         <li><a href="sprint-5/search/sign-in">Sign-in</a></li>
         <li><a href="sprint-5/search/request-account-error">Request account error</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 4
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it does not already exist in the system.</li>
         <li>Created home page.</li>
     </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349625535889&cot=12">User Flow</a></li>
         <li><a href="https://xd.adobe.com/view/33aa55db-0d53-486d-83da-1d61facf8f8e-66f9/?fullscreen">Wireframes</a></li>
         <li><a href="sprint-4/sign-in">EHIC and PRC flow</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 3
      </span>
   </summary>
   <div class="nhsuk-details__text">
      <ul>
         <li>Added EHIC and PRC flow if it already exists in the system.</li>
         <li>Removed sign in for operations team.</li>
     </ul>
      <ul>
         <li><a href="https://miro.com/app/board/o9J_kpgEZtQ=/?moveToWidget=3074457349546517716&cot=12">User Flow</a></li>
         <li><a href="https://xd.adobe.com/view/915ce38f-3ab3-44fc-89d8-3d4f715a276b-c40f/?fullscreen">Wireframes</a></li>
         <li><a href="sprint-3/add-treatment">EHIC and PRC flow</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 2
      </span>
   </summary>
   <div class="nhsuk-details__text">
     <ul>
         <li>Did sign in flow variations, request account flow, create account.</li>
         <li>Created search forms and person record view.</li>
     </ul>
      <ul>
         <li><a href="sprint-2/sign-in">Sign in flow - variation 1</a></li>
         <li><a href="sprint-2/select-role">Sign in flow - variation 2</a></li>
         <li><a href="sprint-2/sign-in-2">Sign in flow - variation 3</a></li>
         <!--<li><a href="sprint-2/sign-in-4">Sign in flow - variation 4</a></li>
         <li><a href="sprint-2/ovm-sign-in-2">Sign in flow - variation 5</a></li> -->
         <br>
         <li><a href="sprint-2/search-person">Search forms</a></li>
      </ul>
   </div>
 </details>

<details class="nhsuk-details nhsuk-expander">
   <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
      Sprint 1
      </span>
   </summary>
   <div class="nhsuk-details__text">
     <ul>
      <li>Gave a basic structure to the portal.</li>
   </ul>
      <ul>
         <li><a href="sprint-1/sign-in">OVT portal</a></li>
      </ul>
   </div>
</details>

{% endblock %}
