<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "prototype-kit-template.njk" %}


{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
OHS Report overseas visitor treatments prototype
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
  {{ header({
    service: {
        text: "Report overseas visitor treatments",
        href: "/"
      }
    })
  }}
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}
{% from 'footer/macro.njk' import footer %}

{{ footer({
  meta: {
    items: [
      {
        href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        text: "Reset data"
      },
      {
        href: "/",
        text: "Index"
      },
      {
        href: "#",
        text: "Privacy policy"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "User agreement"
      },
      {
        href: "#",
        text: "Freedom of information"
      }
    ]
  },


  copyright: {
    html: 'Built by the <a class="govuk-footer__link" href="#">NHS Business Services Authority</a><br><br>All content is available under the <a class="govuk-footer__link" href="#">Open Government Licence v3.0,</a> except where otherwise stated.'
  }
}) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  <script type="module" src="/nhsuk-frontend/nhsuk-frontend.min.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
