<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/prototype-kit-template.njk -->
{% extends "prototype-kit-template.njk" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block head %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Cost recovery prototype
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{% from 'header/macro.njk' import header %}

{% set trust_name %}
  {% if data['change-trust-view'] == 'yes' %}
    {{ data['trust-name'] }}
  {% else %}
    North Tees and Hartlepool NHS Foundation Trust
  {% endif %}
{% endset %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "Report overseas visitor treatments homepage"
  },
  service: {
    text: "Report overseas visitor treatments",
    href: "/"
  },
  account: {
    items: [
      {
        text: "Joe Bloggs (" + trust_name | trim + ")",
        icon: true
      },
      {
        text: "Manage trust access",
        href: "manage-trust-access"
      },
      {
        text: "Log out",
        href: "#"
      }
    ]
  }
}) }}
{% endblock %}





{% block beforeContent %}    
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Beta
         </strong>
         <span class="app-phase-banner__text">
         This is a new service - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}  

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}

{% from 'footer/macro.njk' import footer %}

{{ footer({
  meta: {
    items: [
      {
        href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        text: "Reset data"
      },
      {
        href: "/",
        text: "Index"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Contact us"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/privacy",
        text: "Privacy policy"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
        text: "Terms and conditions"
      }
    ]
  }
}) }}
{% endblock %}


{% block bodyEnd %}
<script src="/nhsuk-frontend/nhsuk-frontend.min.js" type="module"></script>
<script type="module">
  import { initAll } from '/nhsuk-frontend/nhsuk-frontend.min.js'
  initAll()
</script>
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
