<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/prototype-kit-template.njk -->
{% extends "prototype-kit-template.njk" %}


{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Cost recovery prototype
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{% from 'header/macro.njk' import header %}

{% set trust_name %}
  {% if data['change-trust-view'] == 'yes' %}
    {{ data['trust-name'] }}
  {% elif data['sign-into-trust-name'] == 'Tees, Esk and Wear Valleys NHS Foundation Trust' %}
    Tees, Esk and Wear Valleys NHS Foundation Trust
  {% elif data['sign-into-trust-name'] == 'North Tees and Hartlepool NHS Foundation Trust' %}
    North Tees and Hartlepool NHS Foundation Trust
  {% else %}
    North Tees and Hartlepool NHS Foundation Trust
  {% endif %}
{% endset %}

{% set first_name = data['new-account-first-name'] or 'Joe' %}
{% set last_name = data['new-account-last-name'] or 'Bloggs' %}
{% set trust_display = trust_name | trim %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "Report overseas visitor treatments homepage"
  },
  service: {
    text: "Report overseas visitor treatments",
    href: "/"
  },
  account: {
    items: [
      {
        text: first_name + " " + last_name + " (" + trust_display + ")",
        icon: true
      },
      {
        text: "Manage trust access",
        href: "manage-trust-access"
      },
      {
        text: "Sign out",
        href: "/multi-trust-reporting/version-1/sign-in"
      }
    ]
  }
}) }}
{% endblock %}





{% block beforeContent %}    
<div class="app-phase-banner">
   <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
         <strong class="nhsuk-tag app-phase-banner__tag">
         Beta
         </strong>
         <span class="app-phase-banner__text">
         This is a new service - your <a href="#">feedback</a> will help us improve it.
         </span>
      </p>
   </div>
</div>
{% endblock %}  

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}

{% from 'footer/macro.njk' import footer %}

{{ footer({
  meta: {
    items: [
      {
        href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
        text: "Reset data"
      },
      {
        href: "/",
        text: "Index"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Contact us"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/privacy",
        text: "Privacy policy"
      },
      {
        href: "https://www.nhsbsa.nhs.uk/our-policies/terms-and-conditions",
        text: "Terms and conditions"
      }
    ]
  }
}) }}
{% endblock %}


{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  <script type="module" src="/nhsuk-frontend/nhsuk-frontend.min.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
