{% extends 'layout.html' %}
{% block pageTitle %}
Sign in
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Sign in
        </h1>
      </legend>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          Email address
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
    
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          Password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text"> <br>
      </div>
      
    </fieldset>

    <a class="nhsuk-button" href="sent-forms">Sign in</a>

    <p><a href="password-reset">Forgot your password?</a></p>  
    <!--<p>New to OVT portal? <a href="#">Request a new account</a></p>-->

    <hr>
    
    <a class="nhsuk-button nhsuk-button--secondary" href="request-new-account">Request a new account</a>

   </div>
</div>
{% endblock %}
