{% extends 'layout-with-login.html' %}
{% block pageTitle %}
S2 details
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="search-person">Search person</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="person-record-view-ehic">View record</a></li>
      <li class="nhsuk-breadcrumb__item">PRC details</li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="person-record-view-ehic">Back to View record</a></p>
  </div>
</nav>
<div class="app-phase-banner">
  <div class="nhsuk-width-container app-phase-banner__container">
     <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
        Beta
        </strong>
        <span class="app-phase-banner__text">
        This is a new service - your <a href="#">feedback</a> will help us improve it.
        </span>
     </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <span class="nhsuk-caption-m">
      S2 details
    </span>
      <h1 class="nhsuk-label--l ">
        Julia Laurent
      </h1>
  </div>

  <div class="nhsuk-grid-column-two-thirds">
  
    <h4>Personal details of the holder</h4> 
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Issuing member state
        </dt>
        <dd class="nhsuk-summary-list__value">
          Spain
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Surname
        </dt>
        <dd class="nhsuk-summary-list__value">
          Laurent
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Forenames
        </dt>
        <dd class="nhsuk-summary-list__value">
          Julia
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          06/12/1988
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Personal identification number
        </dt>
        <dd class="nhsuk-summary-list__value">
          280000000293
        </dd>
      </div>

      </dl>

      <h4>Location of treatment</h4> 
      <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Healthcare provider
        </dt>
        <dd class="nhsuk-summary-list__value">
          Darlington memorial hospital
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          NHS trust
        </dt>
        <dd class="nhsuk-summary-list__value">
          County Durham and Darlington NHS Foundation Trust
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2 issue date
        </dt>
        <dd class="nhsuk-summary-list__value">
          27/10/2021
        </dd>
      </div>
      </dl>

      <h4>Validity period of S2</h4> 
      <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2 start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          01/11/2020
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          S2 end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          30/01/2021
        </dd>
      </div>
      </dl>
      
      <h4>Institution completing the form</h4> 
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Institution ID
          </dt>
          <dd class="nhsuk-summary-list__value">
            2800
          </dd>
        </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Institution name
        </dt>
        <dd class="nhsuk-summary-list__value">
          National Institute of Social Security, Provincial Head Office of Madrid
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Institution address
        </dt>
        <dd class="nhsuk-summary-list__value">
          Plaza de los Astros 5-7<br> 28007 Madrid
        </dd>
      </div>
    
    </dl>

    <h4>Copy of the S2</h4> 
      <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          s2.jpg
        </dt>
        <dd class="nhsuk-summary-list__value">
          <a href="s2-form-1">View file</a>
        </dd>
      </div>

      </dl>

  </div>
</div>
{% endblock %}
