{% extends 'layout-with-login.html' %}
{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="CheckYourAnswers">
        Check these details before proceeding
      </label></h1>

    <dl class="nhsuk-summary-list">
      <h3>Treatment details</h3>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment start date
        </dt>
        <dd class="nhsuk-summary-list__value">
          03/08/2020
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="treatment-start-date-prc">
            Change<span class="nhsuk-u-visually-hidden">treatment start date</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Treatment end date
        </dt>
        <dd class="nhsuk-summary-list__value">
          04/08/2020
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
          <a href="treatment-end-date-prc">
            Change<span class="nhsuk-u-visually-hidden"> treatment end date</span>
          </a>
        </dd>
      </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Treatment cost
      </dt>
      <dd class="nhsuk-summary-list__value">
        £850.66
      </dd>
  
      <dd class="nhsuk-summary-list__actions">
        <a href="treatment-cost-prc">
          Change<span class="nhsuk-u-visually-hidden"> treatment cost</span>
        </a>
      </dd>
    </div>

  </dl>
  
  <a class="nhsuk-button" href="country-prc">Continue</a>

  <p><a href="home">Cancel</a></p>
 </div>
</div>
{% endblock %}
