<!DOCTYPE html>
<html>
<head>
<link href="/css/main.css" rel="stylesheet">
<style>
body {
  background-color: #d8dde0;
}
.content {
  max-width: 960px;
  margin: auto;
  padding:10px;
}
</style>
</head>
<body>
  <header class="nhsuk-header" style="background-color: white;">
    <div class="nhsuk-header__container" > 
    <span class="nhsuk-heading-m" style="margin-left:50px; margin-right: 1100px; margin-bottom: 0px; display:inline-block; ">S2file1.jpg </span>
    <a href="details-s2" class="nhsuk-heading-m" style="margin-bottom: 0px; display:inline-block;"><svg style="margin-right:50px; margin-bottom: 0px;" class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="close" focusable="true">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg></a>
    </div>
   <!-- <div class="nhsuk-header__content" id="content-header" style="display:inline-block;" >
    <svg style="margin-right:50px; margin-bottom: 0px;" class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="close" focusable="true">
  <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    </div>-->
  </header>
<div class="content">
  <img src="/images/S2-E112.png" alt="S2" width="100%">
</div>

</body>
</html>